@import "../../../../../core/css/wrap/m-00.scss";
@import "../../../../../core/css/wrap/m-10.scss";
@import "../../../../../core/css/wrap/m-15.scss";
@import "../../../../../core/css/wrap/m-20.scss";
@import "../../../../../core/css/wrap/m-60.scss";

@import "../../../../../core/css/wrap/p-15.scss";


main{
    margin-top: 3rem;
}


#term #rows{
    display: flex;
    flex-wrap: wrap;
}


#term #div2{
    width: 100%;
}


#term #div1{
    margin-bottom: 2rem;
    width: 100%;
}


#term #list{

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;
    }

    .card{
        background-color: var(--background-02);
        margin-bottom: 2rem;
        overflow: hidden;
        display: flex;
        -ms-flex-direction: row-reverse;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-direction: row-reverse;
        
        .thumb{
            width: 128px;
            height: 128px;
        }

        .metas{
            width: calc( 100% - 128px);
        }

        .title{
            margin: 0;
            padding: 15px;
        }

        .meta{
            display: flex;
        }

        .meta .box{
            width: 50%;
            padding: 10px 15px;
        }
    }

    .pagination{
        margin-top: 4rem;
    }
}


#term #hero {
    .head{
        width: 100%;
        overflow: hidden;
        p{ background-color: var(--background-02); }
    }
}


#term #join{
    .register a{
        color: var(--link-02-based);
    }
}


@media only screen and (min-width: 480px) {

    #term #list{
        .divider{
            display: grid;
            grid-template-columns: repeat( 2, calc( 50% - 1rem ) );
            grid-gap: 1rem;
            grid-row: 1rem;
        }

        .card{
            display: block;

            .metas{
                width: 100%;
            }

            .thumb, img{
                width: 100%;
                height: 100%;
            }
        }

        .pagination{
            margin-top: 4rem;
        }
    }
}


@media only screen and (min-width: 620px) {

    #term #list{
        .divider{
            grid-template-columns: repeat( 3, calc( 33.33% - 1rem ) );
        }
    }
}


@media only screen and (min-width: 768px) {
}


@media only screen and (min-width: 920px) {
    #term #list{
        .divider{
            grid-template-columns: repeat( 4, calc( 25% - 1rem ) );
        }
    }
}


@media only screen and (min-width: 1024px) {

    #term #rows{
        flex-wrap: nowrap;
         -ms-flex-direction: row-reverse;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-direction: row-reverse;
    }


    #term #div2{
        width: 300px;
        padding-right: 3rem;
    }


    #term #div1{
        width: calc(100% - 300px);
        padding-left: 2rem;
    }


    #term #list{
        .divider{
            grid-template-columns: repeat( 3, calc( 33.333% - 1rem ) );
            grid-gap: 1rem;
            grid-row: 1rem;
        }
    }
}


@media only screen and (min-width: 1280px) {

    main{
        margin-top: 5rem;
    }

    #term #list{
        .divider{
            grid-template-columns: repeat( 3, calc( 33.333% - 2rem ) );
            grid-gap: 2rem;
            grid-row: 2rem;
        }
    }
}


@media only screen and (min-width: 1536px) {  
}