@import "../../../../../core/css/flexs/_init.scss";
@import "../../../../../core/css/flexs/col-12.scss";
@import "../../../../../core/css/flexs/col-04.scss";





#term{
    margin-top: 3.5rem;
}

#term aside{
    width: 260px;
    padding-right: 3rem;
}

#term article{
    width: calc(100% - 260px);
    padding-left: 3rem;
}

#hero {
    .head{
        width: 260px;
        overflow: hidden;
        p{ background-color: var(--background-02); }
    }
}

#join{

    .register a{
        color: var(--link-02-based);
    }
}

#list{
    margin-top: 5rem;
    img{
        width: 100%;
        height: 100%;
    }

    .card{
        background-color: var(--background-02);
        overflow: hidden;

        img{
            border-radius: 0;
        }

        .title{
            margin: 0;
            padding: 15px;
        }

        .meta .box{
            width: 50%;
            padding: 10px 15px;
        }
    }
}

@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1280px) {

}

@media only screen and (min-width: 1536px) {
    
}