#hero{
	padding: 5rem 0;

	.rows{
		grid-template-columns: 100%;
		grid-gap: 3rem;
	}

	.metas {
		display: grid;
		align-items: space-between;
	}

	.thumb{
		img{
			width: 100%;
			height: auto;
		}
	}

	.infos {
		display: grid;
		align-items: space-between;
		grid-gap: 3rem 0;

		h1{
			font-size: 1.5em;
		}
		
		.count{
			display: grid;
			grid-template-columns: repeat(2, calc( 50% - 1rem ) );
			justify-content: space-between;
			grid-gap: 1rem;
		}
	}

	.offer{
		.sharing svg{
			margin-right: 0;
		}
	}
}


@media only screen and (min-width: 480px) {

	 #hero{

		.infos{

			h1{
				font-size: 1.6em;
			}

			.count {
				grid-template-columns: repeat(2, calc( 50% - 1rem ) );
			}
		}
	}
}

@media only screen and (min-width: 768px) {

	#hero{

		.infos{
			h1{
				font-size: 1.8em;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
 
    #hero{

		.rows{
			grid-template-columns: calc( 60% - 2rem ) calc( 40% - 2rem ) ;
			grid-gap: 4rem;
		}

		.thumb{
			margin-bottom: 0rem;
		}

		.infos{

			h1{
				font-size: 2em;
			}

			.title{
				display: block;
			}

			.count {
				grid-template-columns: repeat(2, calc( 50% - 1rem ) );
			}
		}
	}	
}


@media only screen and (min-width: 1280px) {
    
}


@media only screen and (min-width: 1536px) {
	
}