#hero{
	padding: 5rem 0;

	.rows{
		grid-gap: 3rem;
	}

	.thumb{
		img{
			width: 100%;
		}
	}

	.infos {
		
		h1{
			margin-bottom: 1.5rem;
		}

		.count{
			display: grid;
			grid-template-columns: repeat(2, calc( 50% - 1rem ) );
			justify-content: space-between;
			grid-gap: 1rem;
		}
	}

	.offer{
		.sharing svg{
			margin-right: 0;
		}
	}
}


@media only screen and (min-width: 480px) {

	 #hero{

		.infos{
			.count {
				grid-template-columns: repeat(4, calc( 25% - 1rem ) );
			}
		}
	}
}

@media only screen and (min-width: 768px) {

	#hero{

		.infos{
			.title{
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
 
    #hero{

		.rows{
			grid-template-columns: calc( 60% - 2rem ) calc( 40% - 2rem ) ;
			grid-gap: 4rem;
		}

		.thumb{
			margin-bottom: 0rem;
		}

		.infos{

			.title{
				display: block;
			}

			.count {
				grid-template-columns: repeat(2, calc( 50% - 1rem ) );
			}
		}
	}	
}


@media only screen and (min-width: 1280px) {
    
}


@media only screen and (min-width: 1536px) {
	
}