#part{

	.dropboxs{
		position: absolute;
		z-index: -1;
		height: 0;
		opacity: 0;
		transition: 200ms;
	}

	.icon.dropdown{
		min-width: 1.4rem;
		width: 1.4rem;
		height: 1.4rem;
		margin-right: 0;
	}

	.period{
		margin-bottom: 2.5rem;
	}

	.dropboxs.open{
		z-index: 1;
		height: auto;
		opacity: 1;
		position: relative;
		transition: 200ms;
	}

	.leaf {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 1.75rem;
	}

	.icon{
		min-width: 1.3rem;
		width: 1.3rem;
        color: var(--link-01-based);
	}
}


@media only screen and (min-width: 480px) {

	#part{
		.dropboxs{
			margin-bottom: 2rem ;
		}
	}
}


@media only screen and (min-width: 768px) {

    #part{
		
		.leaf {
			grid-template-columns: repeat(2, calc( 50% - 2rem ) );
			grid-gap: 2rem;
		}

		.icon.dropdown{
			display: none;
		}

		.dropboxs{
			position: relative;
			z-index: 1;
			opacity: 1;
			height: auto;
		}
	}
}


@media only screen and (min-width: 1024px) {
    
	#part{

		.period{
			margin-bottom: 3rem;
		}

		.leaf {
			grid-template-columns: repeat(2, calc( 50% - 2rem ) );
			grid-gap: 2rem;
		}
	}
}


@media only screen and (min-width: 1280px) {

}

@media only screen and (min-width: 1536px) {

}