#task{

	.dropboxs{
		position: absolute;
		z-index: -1;
		height: 0;
		opacity: 0;
	}

	.dropboxs.open{
		z-index: 1;
		height: auto;
		opacity: 1;
		position: relative;
		transition: 200ms;
	}

	.period{
		margin-bottom: 2.5rem;
	}

	.leaf{
		grid-gap: 1.75rem;
	}

	.icon.dropdown{
		min-width: 1.4rem;
		width: 1.4rem;
		height: 1.4rem;
		margin-right: 0;
	}

	.icon{
		min-width: 1.3rem;
		width: 1.3rem;
        color: var(--link-01-based);
	}

	.number{
		grid-template-columns: auto;
		width: 1.7rem;
		height: 1.7rem;
	}
}

@media only screen and (min-width: 480px) {

    #task{

		.dropboxs{
			margin-bottom: 2rem ;
		}

		.leaf {
			grid-template-columns: repeat(2, calc( 50% - 2rem ) );
			grid-gap: 2rem;
		}
	}
}


@media only screen and (min-width: 768px) {

    #task{
		
		.leaf {
			grid-template-columns: repeat(3, calc( 33.333% - 3rem ) );
			grid-gap: 3rem;
		}

		.icon.dropdown{
			display: none;
		}

		.dropboxs{
			position: relative;
			z-index: 1;
			opacity: 1;
			height: auto;
		}
	}
}


@media only screen and (min-width: 1024px) {
    #task{
		.period{
			margin-bottom: 3rem;
		}

		.leaf{
			grid-template-columns: calc( 50% - 2rem ) calc( 50% - 2rem ) ;
			grid-gap: 2.5rem 4rem;
		}
	}
}


@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1536px) {

}