main{ margin-top: 3.5rem; }


#list{

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;
    }

    .card{
        background-color: var(--background-02);
        margin-bottom: 2rem;
        overflow: hidden;
        display: flex;
        -ms-flex-direction: row-reverse;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-direction: row-reverse;
        
        .thumb{
            width: 128px;
            height: 128px;
        }

        .metas{
            width: calc( 100% - 128px);
        }

        .title{
            margin: 0;
            padding: 15px;
        }

        .meta .box{
            width: 50%;
            padding: 10px 15px;
        }
    }

    .pagination{
        margin-top: 2.5rem;
    }
}


#landing #div1 {
    display: none;
    height: 145px;
}


#landing #div2 {
    display: flex;
    flex-wrap: wrap;

    .main{
        width: 100%;
    }
}


#landing #div3 {
    display: none;
}


#landing #hero {
    h1{
        text-align: left;
        font-size: 2.2rem;
        margin-bottom: 3rem;
    }
}


#landing #invo {
    display: none;
}


#landing #taxo {
    width: 100%;

    h2{
        font-weight: 600;
        font-size: 1.25rem;
    }

    hr{
        margin-bottom: 1rem;
    }
    .max-width{
        width: 100%;
    }

    .info{
        margin-bottom: 3.5rem;
    }

    a{
        margin-right: 0;
    }
  
}


#landing #feat {
    .top {
        display: none;
    }

    .meta{
        padding: 6px 10px ;
    }

    img{
        width: 100%;
        object-fit: cover;
	    overflow: hidden;
    }

    .image img {
        width: 42px;
        height: 42px;
    }

    .action svg{
        margin-right: 0;
    }
}


#landing #list {
    .info{
        display: none;
    }
}


#landing #info {
    .low, .mid, .top {
        width: 100%;
    } 

    h2{
        margin-bottom: 1rem;
    }
    img{
        width: 100%;
    }
}


#landing #team {
    display: none;
}


#landing #bugs {
    display: none;
}


#parted {
    #join, #team, #bugs, #term .box{
        display: none;
    }
}

#parteds #rows {
    display: flex;
    flex-wrap: wrap;
}


#parteds #div1 {
     margin-bottom: 3rem;
}


#parteds #div2 {
     margin-bottom: 3rem;
}


#parteds #hero {
    margin-bottom: 5rem;
    h1 {
        margin-top: 0;
    }
    hr { display: none; }
}


#parteds #term {

    hr{
        margin-block-start: 0;
    }

    ul {
        list-style: none;
    }

    .card{
        border: 1px solid transparent;
        padding: 5px 10px;
    }

    .card:hover{
        border: 1px solid var(--line-01);
        background-color: var(--background-02);
    }

    img{
        width: 42px; height: 42px;
        object-fit: cover;
    }
}


@media only screen and (min-width: 480px) {
}


@media only screen and (min-width: 768px) {
}


@media only screen and (min-width: 1024px) {
}


@media only screen and (min-width: 1280px) {

    main{ margin-top: 5rem; }


    #list{
        .leaf{
            display: grid;
            grid-template-columns: repeat( 3, calc( 33.333% - 2rem ) );
            grid-gap: 2.5rem;
            grid-row: 2.5rem;
        }

        .card{
            display: block;
            .thumb, .metas{
                width: 100%;
            }
        }
    }


    #landing #div1{
        display: block;
        text-align: center;
        height: 260px;
    }


    #landing #div2{
        flex-wrap: nowrap;
        margin-bottom: 2rem;
        -ms-flex-direction: row-reverse;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-direction: row-reverse;

        .side{
            width: 50%;
            padding-left: 0rem;
        }
        .main{
            width: 50%;
            padding-right: 0rem;
        }
    }


    #landing #div3{
        display: block;
        margin-bottom: 5rem;
    }


    #landing #div4{
        display: flex;
        .side{
            width: 300px;
            padding-left: 2rem;
        }
        .main{
            width: calc( 100% - 300px );
            padding-right: 2rem;
        }
    }


    #landing #hero{
        h1{
            text-align: center;
            font-size: 3.75rem;
            margin: auto;
            width: 620px;
        }

        hr{
            display: block;
            margin: 420px auto auto auto;
            width: 720px;
            transform: rotate(90deg);
        }
    }


    #landing #invo{

        display: block;

        h2{
            width: auto;
            font-size: 1.875rem;
            margin-bottom: 0rem;
        }

        hr{
            margin-bottom: 2.5rem
        }

        .info {
            flex-wrap: nowrap;
        }

        .action {
            margin-left: auto;
        }

        .max-width{
            width: 520px;
        }


    }


    #landing #taxo{

        .max-width{
            width: 520px;
        }

        h2{
            font-weight: 300;
            font-size: 1.875rem;
        }

        a{
            margin-right: 1.8rem;
        }

        hr{
            margin-bottom: 3rem;
        }

        .info{
            padding-bottom: 0;
            border-bottom: 0;
            margin-bottom: 2.5rem;
        }

        .card{
            border: 1px solid transparent;
            padding: 5px 10px;
        }

        .card:hover{
            border: 1px solid var(--line-01);
            background-color: var(--background-02);
        }

        img{
            width: 42px;
            height: 42px;
            object-fit: cover;
        }

        .leaf{
            display:grid;
            grid-template-columns: repeat(2, calc( 50% - 1rem ));
            grid-row: 1rem;
            grid-gap: 1rem;
        }
    }


    #landing #list{
        .info{
            display: flex;
        }
    }


    #landing #feat{
        padding-left: 0;

        .top {
            display: block;
        }

        .mid, .bot{
            margin-left: 3rem;
        }

        .mid img{
            height: 100%;
        }
    }


    #landing #team {
        display: block;
    }


    #landing #bugs {
        display: block;
    }


    #parteds{
        #join, #team, #bugs, #term .box{
            display: block;
        }
    }


    #parteds #rows{
        flex-wrap: nowrap;
    }


    #parteds #div1{
        width: calc( 100% - 300px );
        padding-right: 2rem;
    }


    #parteds #div2{
        width: 300px;
        padding-left: 2rem;
    }
}


@media only screen and (min-width: 1536px) {  
}