@import "../../../../../core/css/flexs/_init.scss";
@import "../../../../../core/css/flexs/col-12.scss";
@import "../../../../../core/css/flexs/col-07.scss";
@import "../../../../../core/css/flexs/col-05.scss";
@import "../../../../../core/css/flexs/col-04.scss";




a{
    color: var(--color-02);
}

.module_head{
    font-size: large;
}

main{
    margin-top: 5rem;
}