@import "../../../../../core/css/main/form.scss";
@import "../../../../../core/css/main/typo.scss";
@import "../../../../../core/css/main/icon.scss";
@import "../../../../../core/css/main/part.scss";
@import "../../../../../core/css/main/line.scss";


img{
	object-fit: cover;
}

#course #hero img{
	width: 100%;
}

@media only screen and (min-width: 768px) {
	#course #hero img{
		height: 100%;
	}
}

#course #team .image img,
#course #team .image{
    width: 42px;
    height: 42px;
    overflow: hidden;
}


#hero.feature .love .button svg{
	margin-right: 0;
}

#hero.feature .top .box{
	padding: 2px 15px;
} 

@-webkit-keyframes blink {
	0%, 100% { opacity: 0; }
	50% { opacity: 1; }
}

@-moz-keyframes blink {
	0%, 100% { opacity: 0; }
	50% { opacity: 1; }
}

@-o-keyframes blink {
	0%, 100% { opacity: 0; }
	50% { opacity: 1; }
}

@keyframes blink {
	0%, 100% { opacity: 0; }
	50% { opacity: 1; }
}

.dot {
	-webkit-animation: blink 2s infinite;
	-moz-animation: blink 2s infinite;
	-o-animation: blink 2s infinite;
	animation: blink 2s infinite;
}

.info.feature{
	width: 8px;
    height: 8px;
    background: var(--dark-link-01);
    border-radius: 50px;
}

