{{- $part := partial "lib/pather/module-part.html" . -}}

{{- $card := printf "%s/lead-item-feat.html" $part -}}

{{- $page := . -}}

<div id="lead">
    <div class="head mb-60">
        <div class="flex-inline mb-10">
            <div class="icon lg border-right mr-10 pr-10">{{- partial "lib/icon" "bookmark" -}}</div>
            <h2 class="text-2xl mb-00 mt-00">{{ .Params.mission.lead }}</h2>
        </div>
        <p>{{ .Params.mission.desc }}</p>
    </div>
    <div class="leaf">
        {{ range $index, $value := .Params.mission.data }}
        <div class="card">
            <div class="thumb">
                {{ partial $card (dict "page" $page "data" .thum ) }}
            </div>
            <div class="text flex mt-30 mb-30">
                <div class="number border-all rounded-md flex center-x center-y">{{ math.Sum $index 1 }}</div>
                <h3 class="text-lg font-bold ml-15 mt-00 mb-00">{{ .name }}</h3> 
            </div>
            <p>{{ .desc }} </p>
        </div>
        {{ end }}
    </div>
</div>