{{- $part := partial "lib/pather/module-part.html" . -}}

{{- $lead := printf "%s/team-lead-card" $part -}}
{{- $team := printf "%s/team-team-card" $part -}}

<div id="team">
    <div class="head mb-40 flex border-bottom">
        <div class="icon md">{{ partial "lib/icon" "user" }}</div>
        <h2 class="text-sm uppercase font-bold border-left pl-15 pb-10 mb-00">{{ T "leader_head_lead" }}</h2>
    </div>
    <div class="leaf">
        <div class="lead mb-50">
            {{ partial $lead . }}
        </div>
        <div class="team grid">
            {{ partial $team . }}
        </div>
    </div>
</div>