#term{
    margin-top: 3.5rem;
}

#term aside{
    width: 360px;
    padding-right: 3rem;
}

#term article{
    width: calc(100% - 360px);
    padding-left: 3rem;
}

#hero {
    .head{
        width: 360px;
        overflow: hidden;
        p{ background-color: var(--background-02); }
    }
}

#join{

    .register a{
        color: var(--link-02-based);
    }
}