{{- $part := partial "lib/pather/module-part.html" . -}}

{{- $feat := printf "%s/hero-thumb.html" $part -}}

<div id="hero">
    <div class="rows">
        <div class="thumb">
            {{- partial $feat . -}}
        </div>
        <div class="metas">
            <div class="head flex center-x mb-40">
                <h1 class="font-bold uppercase text-md mb-00 mt-00">{{ .Title }}</h1>
            </div>
            <p class="mt-00">{{ .Params.description }}</p>
        </div>
    </div>
</div>