{{- $part := partial "lib/pather/module-part.html" . -}}

<div id="info">
    <div class="head flex center-x border-bottom mb-30">
        <div class="icon lg flex center-x">{{ partial "lib/icon" "info" }}</div>
        <h2 class="text-sm uppercase font-bold border-left pl-15 mb-00 mt-00 pb-10 pt-10">{{  T "inform_head_rule" }}</h2>
    </div>
    <div class="leaf">
    {{- range  $index, $value := .Params.informa -}}
        <div class="item flex">
            <div class="number text-sm border-all rounded-sm">{{- math.Sum $index 1 -}}</div>
            <div class="desc ml-20">
                <h3 class="text-md font-bold mt-00 mb-10">{{ .name }}</h3>
                <p class="text-sm mt-00">{{ .desc }}</p>
            </div>
        </div>
    {{- end -}}
    </div>
</div>