{{- $part := partial "lib/pather/module-part.html" . -}}
{{- $view := partial "lib/pather/module-view.html" . -}}

{{- $case := printf "%s/case.html" $view -}}
{{- $tuto := printf "%s/tuto.html" $view -}}
{{- $time := printf "%s/time.html" $view -}}

{{- $data := partial "lib/course/query/task-page-each-page.html" . -}}

<div id="tabs">
    <div class="head">
        <div class="flex center-x">
        {{- range $index, $value := $data -}}
        <div id="part-action" data-target="part-tabs-{{ .Title | urlize }}" class="base-actions tab-action flex center-x mr-20 {{- with eq $index 0 }} open{{- end -}}">
            <h2 class="text-sm font-bold uppercase">{{ .Title }}</h2>
        </div>
        {{- end -}}
        </div>
    </div><hr>
    <div class="leaf">
        {{- range $index, $value := $data -}}
        <div id="part-tabs-{{ .Title | urlize }}" class="tabs-item base-content {{- with eq $index 0 }} open{{- end -}}">
            <h2 class="text-lg flex-inline pb-10 mb-60 uppercase">{{  T "tabers_subs_lead" }}  <span class="border-left ml-20 pl-20 font-bold">{{ .Title }}</span></h2>
            <div class="switch">
                <div class="swithead flex center-x mb-60 pb-20">
                    <div class="case actions flex center-x open" data-target="case-{{ .Title | urlize }}">
                        <div class="icon md rounded-md border-all">{{ partial "lib/icon" "layout" }}</div>
                        <h2 class="text-sm uppercase font-bold pl-10 mt-00 mb-00">{{ T "goaler_head_rule" }}</h2>
                    </div>
                    <div class="tuto actions flex center-x ml-60" data-target="tuto-{{ .Title | urlize }}">
                        <div class="icon md rounded-md border-all">{{ partial "lib/icon" "compass" }}</div>
                        <h2 class="text-sm uppercase font-bold pl-10 mt-00 mb-00">{{ T "walker_head_rule" }}</h2>
                    </div>
                </div>
                <div class="switchbox">
                    <div id="case-{{ .Title | urlize }}" class="tabs-item content case open">{{- partial $case . -}}</div>
                    <div id="tuto-{{ .Title | urlize }}" class="tabs-item content tuto"> {{ .Content }}</div>
                </div>
            </div>
        </div>
        {{- end -}}
    </div>
</div>