<div class="time border-bottom border-top flex center-x">
    <div class="start flex">
        <div class="icon md">
            {{ partial "icon/line/clock.svg" }}
        </div>
        <div class="subleaf">
            <div class="text-sm font-bold uppercase">Challange</div>
            <div class="date">
                Available at {{ .Params.opened.days }}-{{ .Params.opened.month }}-{{ .Params.opened.year }}
            </div>
        </div>
    </div>
    <div class="close flex">
        <div class="icon md">
            {{ partial "icon/line/clock.svg" }}
        </div>
        <div class="subleaf">
            <div class="text-sm font-bold uppercase">Walkthrough</div>
            <div class="date">
                Available at {{ .Params.closed.days }}-{{ .Params.closed.month }}-{{ .Params.closed.year }}
            </div>
        </div>
    </div>
</div>