{{- $name := .name -}}
{{- $site := .site -}}
{{- $list := partial  "course/module/base/main/data/query-term-list.html" ( dict "ctx" .ctx "name" .name "site" .site ) -}}


<div class="list">
    <div class="info flex center-x mb-60">
        <h2 class="text-lg uppercase font-bold mt-00 mb-00">{{ .name -}}</h2>
        {{- with .name -}}{{- $path := printf "/%s/%s" "course/terms" ( . | urlize ) -}}
            {{- with $site.GetPage $path -}}
                <p class="capitalize text-lg border-left mt-00 mb-00 pl-15 ml-15">{{ .Page.Params.Module.qoutes }}</p>
            {{- end -}}
        {{- end -}}
    </div>
    <div class="leaf">
        {{- range $list -}}
        <a href="{{ .RelPermalink }}" class="card course rounded-lg">
            <div class="thumb">{{- partial "course/module/base/main/part/thumb-list.html" . -}}</div>
            <article class="metas">
                <h3 class="text-md font-bold title mb-20">{{ .Title }}</h3>
                <div class="meta flex center-x text-sm capitalize mb-05">
                    <div class="box">
                        {{- .Page.Params.Module.Plan.Level -}}
                    </div>
                    <div class="box">
                        {{- partial "lib/course/count-material.html" . -}} <span class="ml-05">Session</span>
                    </div>
                </div>
            </article>
        </a>
        {{- end -}}
    </div>
    <div class="hasnext flex">
        <div class="ml-a">
            <a href="/course/terms/{{ .name }}" class="ml-10 flex center-x">
                <div class="font-bold">{{ T "get_more" }}</div>
                <div class="icon md border-all rounded-full ml-15">{{- partial "icon/line/arrow-right.svg" -}}</div>
            </a>
        </div>
    </div>
</div>