#eval{
    display: grid;
    justify-content: space-between;

    .head, .card{
        margin-bottom: 3rem;
    }
}

@media only screen and (min-width: 480px) {
    #eval{
        .leaf{
            display: grid;
            grid-template-columns: repeat( 2, calc( 50% - 1rem ) );
            justify-content: space-between;
        }
    }
}

@media only screen and (min-width: 768px) {
    
    #eval{
        .leaf{
            grid-template-columns: repeat( 3, calc( 33.333% - 1rem ) );
        }
    }
   
}

@media only screen and (min-width: 1024px) {
    #eval{
        grid-template-columns: calc( 35% - 3rem ) calc( 100% - 35% );

        .leaf{
            grid-template-columns: repeat( 2, calc( 50% - 1rem ) );
        }
    }
}


@media only screen and (min-width: 1280px) {

}


@media only screen and (min-width: 1536px) {

}