#hero{
  
    img{
        width: 100%;
        height: auto;
        margin-bottom: 3rem;
    }

    h1{
       font-size: 1.4rem
    }

    .meta{
        grid-template-columns: repeat(2, calc( 45% ));
        justify-content: space-between;
    }
}

@media only screen and (min-width: 480px) {

    #hero{
        margin-bottom: 0rem;


        h1{
            font-size: 1.15rem
        }
    }
}

@media only screen and (min-width: 768px) {
    #hero{

        .rows{
            grid-template-columns: 320px calc( 100% - 320px - 2rem );
        }

        h1{
            font-size: 1.2rem
        }
    }
}

@media only screen and (min-width: 1024px) {
 
     #hero{
        h1{
            font-size: 1.3rem;
        }
    }
}

@media only screen and (min-width: 1280px) {
    
   #hero{
        margin-bottom: 1rem;

        .rows{
            grid-template-columns: 380px calc( 100% - 380px - 3rem );
        }

        .leaf{
            align-content: space-between;
        }       
    }
}

@media only screen and (min-width: 1536px) {

}