#hero{

   
    img{
        width: 100%;
        height: auto;
    }

    h1{
       font-size: 1.4rem
    }
}

@media only screen and (min-width: 480px) {

    #hero{
        margin-bottom: 2rem;
        
        .rows{
            grid-template-columns: 45% calc( 100% - 45% - 2rem );
        }
        

        h1{
            font-size: 1.4rem
        }
    }
}

@media only screen and (min-width: 768px) {
    #hero{

        .rows{
            grid-template-columns: 45% calc( 100% - 45% - 2rem );
        }
        

        h1{
            font-size: 1.6rem
        }
    }
}

@media only screen and (min-width: 1024px) {
 
     #hero{

        h1{
            font-size: 1.7rem;
        }
    }
}

@media only screen and (min-width: 1280px) {
    
   #hero{

        .rows{
            grid-template-columns: 300px calc( 100% - 300px - 2rem );
        }

        .leaf{
            align-content: space-between;
        }

        .meta{
            grid-template-columns: repeat(3, calc( 30% ));
            justify-content: space-between;
        }
   }
}

@media only screen and (min-width: 1536px) {

}