#main{
    display: grid;
    justify-content: space-between;

    .main {
        margin-bottom: 3rem;
    }

    .side{
        display: grid;
        grid-gap: 3rem;
    }
}

@media only screen and (min-width: 480px) {

    #main{
        .side{
            grid-template-columns: repeat(2, 50%) ;
        }
    }
}

@media only screen and (min-width: 768px) {
    #main{
        grid-template-columns: calc( 65% - 5rem) calc( 100% - 65% ) ;
   
        .side{
            grid-template-columns: 100% ;
            grid-gap: 0rem;
        }
    }
}

@media only screen and (min-width: 1024px) {


}

@media only screen and (min-width: 1280px) {
 
    #main{
        grid-template-columns: calc( 65% - 7rem) calc( 100% - 65% ) ;
        grid-gap: 7rem;

        .side{
            grid-template-columns: 100% ;
            grid-gap: 0rem;
        }
    }
}

@media only screen and (min-width: 1536px) {

}