#tabs{

    margin-bottom: 3rem;

    .box{
        display: flex;
    }

    .tab-action{
        padding: 0rem 1rem;
     }

    .tab-action.open{
        border: 1px solid var(--link-01-based);
        background-color: var(--background-02);
    }

    .tab-action.open .icon, .tab-action.open h2 {
        color: var(--link-02-based);
    }

    .rows{
        grid-gap: 3rem;
    }
}


@media only screen and (min-width: 480px) {

    #tabs{
        margin-bottom: 5rem;
        .rows{
            grid-gap: 5rem 0;
        }
    }
}

@media only screen and (min-width: 768px) {
    #tabs{
        margin-bottom: 4rem;
        .rows{
            grid-template-columns: repeat( 2, 47% );
        }
    }
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1280px) {
    
  
}

@media only screen and (min-width: 1536px) {

}