#time{


    .cals{
        width: 100%;

        .clock{
            grid-template-columns: repeat( 2, 47.5% );
        }

        .open{
            border-right: 1px solid var(--line-01 );
        }

        .item{
            text-wrap: nowrap;
        }

        .date, .time, .data{
            display: grid;
            font-size: .95rem;
        }

        .data{
            grid-template-columns: auto auto;
            grid-gap: 10px;
        }

        .utc{
            margin-left: 10px;
        }
    }

    .take{

        .action{
            display: none;
        }

        .action.open{ 
            display: flex;
        }

        .noact{
            background-color: var(--background-02);
            font-size: .95rem;
        }
    }
}




@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    #time{
        .leaf{
            grid-template-columns: 100%;
            grid-gap: 3rem;
        } 
    }
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1280px) {
    #time{

    }
}

@media only screen and (min-width: 1536px) {

}