#hero{

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1280px) {
    
    #hero{
        display: grid;
        align-items: center;
        min-height: 70vh;
        margin-bottom: 5rem;

        .slot{
            grid-template-columns: calc( 620px - 60px ) calc( 100% - 620px );
            grid-gap: 60px;
        }

        .rows{
            display: grid;
            align-content: space-between;
        }

        h2{
            width: 100px;
        }

        hr{
            margin-bottom: 0;
        }
    }
}

@media only screen and (min-width: 1536px) {

}