#task{

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}


@media only screen and (min-width: 1280px) {

    #task{
        margin-bottom: 10rem;
        #div2{
           display: flex;

           .side{
                width: 260px;
           }

           .page{
                width: calc( 100% - 260px );
           }
        }
    }
}


@media only screen and (min-width: 1536px) {

}