#menu{

     margin-bottom: 3rem;

    .box{
         display: flex;
    }

    .tab-action{
        width: 100%;
    }

    .icon{
        display: none;
    }
}


@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1280px) {
    
    #menu{

        .box{
             display: block;
        }
       
        .tab-action{
            width: auto;
        }
        
        .icon{
            display: flex;
        }

        .tab-action{
            margin-bottom: 1.25rem;
        }
    }
}

@media only screen and (min-width: 1536px) {

}