// LIST

.card-vert{
    grid-template-columns: 120px calc( 100% - 120px );
    justify-content: space-between;
    background-color: var(--background-02);
    overflow: hidden;

    .thumb{

        img{
            height: 120px;
            width: 120px;
        }
    }

    .metas{
        padding: 1rem 1.85rem 1rem 1.75rem;
        align-content: space-between;

        .title{
            font-size: 1rem;
            line-clamp: 1;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;  
        }

        .tutor{
            margin: 1rem 0;
            display: none;
        }

        .stats{
            grid-template-columns: auto auto;
            justify-content: space-between;
        }
    }
}



@media only screen and (min-width: 480px) {

    .card-vert{
        grid-template-columns: 135px calc( 100% - 135px );
        grid-template-rows: 135px ;
        
        .thumb{
            img{
                height: 135px;
                width: 135px;
            }
        }

        .metas{
            padding: 1rem 2rem;

            .title{
                font-size: 1rem;
            }

            .tutor{
                display: flex;
            }

            .stats{
                grid-template-columns: auto auto auto;
                justify-content: normal;
            }
        }
    }
}


@media only screen and (min-width: 768px) {

    .card-vert{
        grid-template-columns: 100%;
        grid-template-rows: 160px;
        
        .thumb{
            grid-row: 1;

            img{
                width: 240px;
                height: 160px;
            }
        }

        .metas{
            padding: 1.5rem 1rem ;

            .title{
                line-clamp: 2;
                font-size: 1rem;
                -webkit-line-clamp: 2;
            }

           .stats{
               margin-top: 1.5rem;
               grid-template-columns: auto auto;
               justify-content: space-between;
            }
        }
    }
}


@media only screen and (min-width: 1024px) {


}


@media only screen and (min-width: 1280px) {
    
    .card-vert{

        .metas{
            .title{
                font-size: 1.03rem;
            }
        }
    }
}


@media only screen and (min-width: 1536px) {  
}