// LIST
.card-hori {
    grid-template-columns: calc( 100% - 120px ) 120px;
    justify-content: space-between;
    background-color: var(--background-02);
    overflow: hidden;

    .thumb{

        img{
            height: 120px;
            width: 120px;
        }
    }

    .metas{
        padding: 1rem 2.25rem 1rem 1.5rem;
        align-content: space-between;

        .title{
            font-size: 1rem;
            line-clamp: 2;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
        }

        .tutor{
            display: none;
        }

        .stats{
            grid-template-columns: auto auto;
            justify-content: space-between;
        }
    }
}



@media only screen and (min-width: 480px) {

    .card-hori{
        grid-template-columns: 135px calc( 100% - 135px );
       
        .thumb{
            grid-column: 1;
            grid-row: 1;

            img{
                height: 135px;
                width: 135px;
            }
        }

        .metas{
            grid-row: 1;
            grid-column: 2;
            padding: 1rem 2rem;
           
            .title{
                line-clamp: 1;
                font-size: 1rem;
                -webkit-line-clamp: 1;
            }

            .tutor{
                display: flex;
            }

            .stats{
                margin-top: .85rem;
                grid-template-columns: auto auto;
                justify-content: normal;
            }
        }
    }
}


@media only screen and (min-width: 768px) {

    .card-hori{
        grid-template-columns: 100%;
        grid-template-rows: 160px;
        grid-gap: 4%;

        .thumb{
            grid-column: 1;
            grid-row: 1;

            img{
                width: 225px;
                height: 160px;
            }
        }
        

        .metas{
            padding: 1.5rem 1rem;
            grid-column: 1;
            grid-row: 2;

            .tutor{
                margin: 1rem 0;
            }

            .stats{
                justify-content: space-between;
            }
        }
    }
}


@media only screen and (min-width: 1024px) {


}


@media only screen and (min-width: 1280px) {
    
    .card-hori{

        grid-template-columns: 135px calc( 100% - 135px );
        grid-template-rows: 135px;
        grid-gap: 0;

        .thumb{
            grid-column: 1;
            grid-row: 1;

            img{
                width: 135px;
                height: 135px;
            }
        }
        

        .metas{
            padding: 1.05rem 2.25rem 1.05rem 2rem;
            grid-column: 2;
            grid-row: 1;
            .title{
                font-size: 1.03rem;
            }

            .tutor {
                margin: 0rem 0 1.1rem 0;
            }
        }
    }
}


@media only screen and (min-width: 1536px) {  
}