<div id="join" class="mb-60">
    <div class="mb-20">
        <h2 class="text-xl font-bold mb-10">Contribute</h2><hr>
        <p class="mt-10"> Being Apart Of Open Global Education</p>
    </div>
    <div class="list flex center-x">
        <a href="#" class="register flex center-x ">
            <h3 class="text-md mb-00 mt-00">Lecturer</h3>
            <div class="action">
                <div class="icon md">{{- partial "icon/line/arrow-right.svg" -}}</div>
            </div>
        </a>
        <a href="#" class="register flex center-x ml-a">
            <h3 class="text-md mb-00 mt-00">Contributor</h3>
            <div class="action">
                <div class="icon md">{{- partial "icon/line/arrow-right.svg" -}}</div>
            </div>
        </a>
    </div>
</div>