{{- $page := where .Site.Pages "Type" "course" -}}{{- $list := slice -}}
{{- range  where .Site.Pages "Type" "course" -}}
    {{- if eq .Page.Params.Module.Layout "term" -}}{{- $list = $list | append . -}}{{- end -}}
{{- end -}}


<div id="paginate">
    <div class="mb-60">
        <h2 class="text-4xl mt-00 mb-10">{{ .Page.Params.Module.Qoutes }}</h2>
        <h2 class="mt-10"> Available Course {{ .Title }}  </h2>
    </div>
    <div class="list">
        {{- range ( .Paginate $list 12 ).Pages -}}{{- if eq .Page.Params.Module.Layout "term" -}}
        <article>
            <a href="{{ .RelPermalink }}">
                <div class="render border-left">
                    <h2 class=" text-sm font-bold mr-15 pl-40 uppercase">{{ .Title }}</h1>
                    <div class="thumb border-all rounded-full">
                        <img src="{{ .RelPermalink }}{{ .Page.Params.Module.Cover }}" >
                    </div>
                    <p class="border-top text-sm mt-00 mb-00 pa-15 pl-40">{{- .Page.Params.Description -}}</p>
                </h2>
            </a>
        </article>
        {{- end -}}{{- end -}}
    </div>
    <div class="pagination">
         {{- partial "pagination.html" . -}}
    </div>
</div>