
#landing #div4{
    margin-bottom: 5vh;
}


@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {
   

}


@media only screen and (min-width: 1024px) {

    #landing #div2{
        display: grid;
        grid-template-columns: calc( 33% - 3rem ) 67%;
        grid-gap: 3rem;
    }
}


@media only screen and (min-width: 1280px) {
    

    #landing #div2{
        display: grid;
        grid-template-columns: calc( 37% - 3rem ) 63%;
        grid-gap: 3rem;
    }


    #landing #div3{
        display: grid;
    }


    #landing #div4{
        margin-bottom: 13vh;
    }


    #landing #div5 {
        display: grid;
        grid-template-columns: calc( 30% - 7rem ) calc( 30% - 7rem ) 35%;
        grid-gap: 7rem;
    }
}


@media only screen and (min-width: 1536px) {

}