#open{
    margin-top: 4rem;
}

#rows {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1280px) {
    
    #rows {
        display: grid;
        grid-template-columns: calc( 380px - 7rem ) calc( 100% - 380px );
        grid-gap: 7rem
    }

    #main{
        grid-column: 2;
        grid-row: 1;
    }

    #plan{
        grid-row: 1;
        grid-column: 1;
    }
}

@media only screen and (min-width: 1536px) {

}