{{- $leads := "Open issue to github" -}}
{{- with .Page.Params.Parted.Team.desc -}}{{- $leads = . -}}{{- end -}}
<div id="bugs">
    <div class="head">
        <h2 class="text-md uppercase font-bold mt-00 mb-10">Trouble Reporting</h2><hr class="mb-10">
    </div>
    <div class="leaf">
        <script src="https://utteranc.es/client.js"
            repo="yuros-website/comment"
            issue-term="title"
            theme="dark-blue"
            crossorigin="anonymous"
            async>
        </script>
    </div>
</div>