{{ range first 1 ( where .Pages ".Params.Module.promo"  true ) }}

{{- $ctx  := . -}}{{- $site := $ -}}
{{- $names := "" -}}{{- $cover := "" -}}{{- $twitr := "" -}}

{{- with .Page.Params.Module.Organ.Team -}}
    {{- range first 1 . -}}
        {{- $names = partial "lib/profile/person-name.html"    (dict  "ctx" $ctx "site" $site "name" .name ) -}}
        {{- $cover = partial "lib/course/hero-tutor.html"      (dict  "ctx" $ctx "site" $site "name" .name ) -}}
        {{- $twitr = partial "lib/profile/person-twitter.html" (dict  "ctx" $ctx "site" $site "name" .name ) -}}
    {{- end -}}
{{- end -}}

<div id="feat" class="mb-60">
    <div class="top mb-30">
        <div class="meta border-bottom border-top mb-30">
            <div class="box">
                <div class="row">
                    <div class="col col-xs-12 col-md-4 border-right">
                        <div class="rounded-lg flex center-x">
                            <div class="icon md text-white">{{ partial "icon/line/bar-chart-2.svg" }}</div>
                            <div class="meta flex center-x">
                                <div class="capitalize text-sm mb-00 mr-10"> Level </div>
                                <div class="capitalize text-sm text-white font-bold">{{ .Page.Params.Module.Plan.Level }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-xs-12 col-md-4 border-right">
                        <div class="rounded-lg flex center-x">
                            <div class="icon md text-white">{{- partial "icon/line/award.svg" -}}</div>
                            <div class="meta flex center-x">
                                <div class="capitalize text-sm mb-00 mr-10"> Certificate </div>
                                <div class="capitalize text-sm text-white font-bold ">{{- if .Page.Params.Module.Plan.Certificate -}} {{- .Page.Params.Info.Certificate -}} {{- else -}} None {{- end -}} </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-xs-12 col-md-4">
                        <div class="rounded-lg flex center-x">
                            <div class="icon md text-white">{{- partial "icon/line/calendar.svg" -}}</div>
                            <div class="meta flex">
                                <div class="capitalize text-sm mb-00 mr-10"> Session </div>
                                <div class="capitalize text-sm text-white font-bold">{{- partial "lib/course/count-periodic.html"  . -}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title flex center-x mb-15 ml-30">
            <h1 class="mr-10 mt-00 mb-10">{{ .Title }}</h1>
            <div class="like ml-a">
                <div class="box flex center-x rounded-full border-all">
                    <div class="dot info feature mr-10"></div>
                    <div class="text-sm mt-05 mb-05">Featured</div>
                </div>
            </div>
        </div>
    </div>
    <div class="mid ml-30 mb-40">
        <div class="">
            <div class="box mb-30">
                <div class="main">{{- partial "lib/course/hero-thumb.html" . -}}</div>
                <div class="extra"></div>
            </div>
            <div class="box">
                <div class="info mb-30"><p>{{ .Page.Params.Description }} </p></div>
            </div>
        </div>
    </div>
    <div class="bot ml-30">
        <div class="acts flex center-x">
            <div id="team" class="mr-a">
                <div class="list flex center-x">
                    <div class="image">{{- $cover -}}</div>
                    <div class="bio ml-20">
                        <div class="text-md font-bold mt-00 mb-00">{{ $names }}</div>
                        <div class="text-sm mb-00 mt-00">{{ $twitr }}</div>
                    </div>
                </div>
            </div>
            <div class="enroll">
                <a href="{{ .RelPermalink }}" class="button outline">
                    {{- partial "icon/line/bookmark.svg" -}}
                    {{- if .Page.Params.Paid.Charge -}} Add To Cart {{- else -}} Enroll {{- end -}}
                </a>
            </div>
            <div class="action flex center-x ml-10">
                <div class="button">{{- partial "icon/line/heart.svg" -}}</div>
            </div>
        </div>
    </div>
</div>
{{ end }}