<div id="info">
    <div class="rows grid center-x">
        <div class="head">
            {{- partial "module/course/item/home/part/thumb-info.html" . -}}
        </div>
        <div class="leaf">
            <h2 class="text-4xl mt-00 mb-40">Register Your Insitutition</h2>
            <div class="grid root">
                <div class="top">
                    <h3 class="text-xl font-bold">Git Based</h3>
                    <hr>
                    <p class="text-lg">Empower your institution by joining the future of learning with our free Git-based MOOC platform — seamlessly manage courses, collaborate globally, and unlock unlimited educational potential with cutting-edge technology designed for open access and innovation.”</p>
                </div>
                <div class="mid">
                    <h3 class="text-xl font-bold">Free of Charge</h3>
                    <hr>
                    <p class="text-lg">Empower your institution by joining the future of learning with our free Git-based MOOC platform — seamlessly manage courses, collaborate globally, and unlock unlimited educational potential with cutting-edge technology designed for open access and innovation.”</p>
                </div>
                <div class="mid">
                    <h3 class="text-xl font-bold">Markdown Based</h3>
                    <hr>
                    <p class="text-lg">Unlock the power of simplicity and flexibility based on Markdown MOOC platform — effortlessly create, edit, and share interactive courses in a clean, readable format that fosters collaboration and accelerates learning. Teaching with easy, accessible course platform.”</p>
                </div>
            </div>
        </div>
    </div>
</div>