<div id="invo" class="mb-60">
    <hr class="mt-00">
    <div class="max-width mt-30">
        <div class="head flex center-x mb-20 mt-40">
            <h2 class="text-md uppercase font-bold mb-00 mt-00 mobile" >{{ T "home_class_tutor" }}</h2>
            <h2 class="text-md uppercase font-bold mb-00 mt-00 desktop" >{{ T "home_class_tutor_long" }}</h2>
            <div class="action flex ml-a">
                {{- range .Page.Params.Parted.Invo.Data -}}
                <a href="{{ .link }}" class="ml-10 flex center-x">
                    <div class="font-bold">{{ .name }}</div>
                    <div class="icon md border-all rounded-full ml-15">{{- partial "icon/line/arrow-right.svg" -}}</div>
                </a>
                {{- end -}}
            </div>
        </div>
        {{- with .Page.Params.Parted.Invo.Desc -}}
        <div class="leaf max-width">
            <p class="mr-30">{{- . -}}</p>
        </div>
        {{- end -}}
    </div>
</div>