{{- $leads := "Learn on-the-go or right at home with self-paced courses. Get started today!" -}}
{{- with .Page.Params.Module.Parted.Invo.desc -}}{{- $leads = . -}}{{- end -}}

<div id="join" class="mb-60">
    <div class="mb-20">
        <h2 class="text-xl font-bold mb-10">Contribute</h2><hr>
        <p class="mt-10">{{ $leads }}</p>
    </div>
    <div class="list flex center-x">
        {{- range .Page.Params.Module.Parted.Invo.Data -}}
            <a href="{{ .link }}" class="register flex center-x mr-30">
                <h3 class="text-md mb-00 mt-00">{{ .name }}</h3>
                <div class="icon md border-all rounded-full ml-15">{{- partial "icon/line/arrow-right.svg" -}}</div>
            </a>
        {{- end -}}
    </div>
</div>