{{- $leads := "Being Apart Of Open Global Education" -}}
{{- with .Page.Params.Parted.Join.desc -}}{{- $leads = . -}}{{- end -}}

<div id="join" class="mb-60">
    <div class="list">
        {{- range .Page.Params.Parted.Join.Data -}}
            <hr class="mb-10">
            <div class="cont">
                <div class="register flex center-x">
                    <h2 class="text-sm  uppercase font-bold mb-10 mt-00">{{ .name }}</h2>
                    <a href="{{ .link }}" class="mb-10 flex center-x  ml-a">
                        <div class="text-sm">Register</div>
                        <div class="action">
                            <div class="icon md">{{- partial "icon/line/arrow-right.svg" -}}</div>
                        </div>
                    </a>
                </div>
                <p class="text-sm mt-00 mb-20">Help tutor to improve registered course and being a team mates for spesific course</p>
            </div>
        {{- end -}}
    </div>
</div>