<div id="team" class="widget mb-60">
    <div class="head">
        <h2 class="font-bold text-lg">Organizer</h2>
    </div>
    <hr class="mb-20">
    <div class="main">
        <p class="mb-30">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </p>
        <div class="list" class="info">
            <div class="flex center-x">
                <div class="icon lg">{{ partial "icon/line/folder.svg" }}</div>
                <div class="name ">
                    <h3 class="capitalize text-md font-bold mb-00">Muhammad Hadziq Mirza</h3>
                    <p class="mt-00 text-gray-400">Manager</p>
                </div>
            </div>
            <div class="flex center-x">
                <div class="icon lg">{{ partial "icon/line/folder.svg" }}</div>
                <div class="name ">
                    <h3 class="capitalize text-md font-bold mb-00">Muhammad Haydar Ilham Kamil</h3>
                    <p class="mt-00 text-gray-400">Developer</p>
                </div>
            </div>
            <div class="flex center-x">
                <div class="icon lg">{{ partial "icon/line/folder.svg" }}</div>
                <div class="name ">
                    <h3 class="capitalize text-md font-bold mb-00">Nepster</h3>
                    <p class="mt-00 text-gray-400">Developer</p>
                </div>
            </div>
        </div>
    </div>
</div>