{{- $fil1 := where .Site.Pages ".Params.terms" "intersect" ( slice  ( .Title | urlize ) ) -}}
{{- $fil2 := where .Site.Pages "Type" "course" -}}{{- $page := $fil1 | intersect $fil2 -}}{{- $list := slice -}}
{{- range  where .Site.Pages "Type" "course" -}}
    {{- if eq .Page.Params.Module.Layout "term" -}}{{- $list = $list | append . -}}{{- end -}}
{{- end -}}
<div id="lead" class="">
    <div class="top mb-40">
        <hr class="mb-40">
        <div class="info mb-40">
            <h2 class="text-3xl mb-10">Involve With Us</h2>
            <p class="">Learn on-the-go or right at home with self-paced courses. Get started today!</p>
        </div>
        <div class="flex">
            <a href="#">
                <div class="action flex center-x">
                    <div class="font-bold">Course Creator</div>
                    <div class="icon md border-all rounded-full ml-20">{{- partial "icon/line/arrow-right.svg" -}}</div>
                </div>
            </a>
            <a href="#">
                <div class="action flex center-x ml-40 border-left pl-40">
                    <div class="font-bold">Course Contributor</div>
                    <div class="icon md border-all rounded-full ml-20">{{- partial "icon/line/arrow-right.svg" -}}</div>
                </div>
            </a>
        </div>
    </div>
    <div class="mid mb-40">
        <hr class="mb-40">
        <div class="info mb-50">
            <h2 class="text-3xl mb-10 mt-00">Explore Courses</h2>
            <p class="">Learn on-the-go or right at home with self-paced courses. Get started today!</p>
        </div>
        <ul class="box mb-40">
            {{- range first 6 $list -}}
            <li class=""><a href="{{ .RelPermalink }}">
                <div class="card border-all rounded-lg flex center-x">
                    <img src="{{ .RelPermalink }}{{ .Page.Params.Module.Cover }}" class="category-image rounded-full">
                    <div class="ml-10 font-bold">{{- .Title -}}</div>
                </div>
            </a></li>
            {{- end -}}
        </ul>
        <a href="/{{ .Section }}/terms/">
            <div class="flex center-x">
                <div class="font-bold">All Categories</div>
                <div class="icon md border-all rounded-full ml-20">{{- partial "icon/line/arrow-right.svg" -}}</div>
            </div>
        </a>
    </div>
</div>
