{{- $pages := where .Site.RegularPages "Section" .Section -}}
{{- $pages = $pages.ByDate -}}

<div id="lead" class="list">
    <div class="head flex center-x mb-70">
        {{- with .Page.Params.Parted.Hero.Lead -}}<h1 class="mt-00">{{- . -}}</h1>{{- end -}}
    </div>
    <div class="leaf mb-60">
        {{- range (.Paginate $pages ).Pages -}}{{- if and ( ne .Page.Params.Module.Layout "term" ) ( ne .Page.Params.Module.Layout "taxo" ) -}}
        <a href="{{ .RelPermalink }}" class="card course rounded-lg">
            <div class="thumb">{{- partial "module/course/item/home/part/thumb-list.html" . -}}</div>
            <article class="metas">
                <h2 class="text-md font-bold title mb-20">{{ .Title }}</h2>
                <div class="meta flex center-x text-sm capitalize mb-05">
                    <div class="box">
                        {{- .Page.Params.Module.Plan.Level -}}
                    </div>
                    <div class="box">
                        {{- partial "lib/course/count-material.html" . -}} <span class="ml-05">Session</span>
                    </div>
                </div>
            </article>
        </a>
        {{- end -}}{{- end -}}
    </div>
    <div class="pagination">
        {{ partial "pagination.html" . }}
    </div>
</div>