{{- $pages := where .Site.RegularPages "Section" .Section -}}
{{- $pages = $pages.ByDate -}}

<div id="list">
    <div class="info flex center-x mb-60">
        <h2 class="text-lg uppercase font-bold mt-00 mb-00">Available Courses</h2>
        <p class="text-lg border-left mt-00 mb-00 pl-15 ml-15">Learn on-the-go or right at home with self-paced courses. Get started today!</p>
    </div>
    <div class="leaf">
        {{- range (.Paginate $pages ).Pages -}}{{- if and ( ne .Page.Params.Module.Layout "term" ) ( ne .Page.Params.Module.Layout "taxo" ) -}}
        <a href="{{ .RelPermalink }}" class="card course rounded-lg">
            <div class="thumb">{{- partial "lib/course/hero-thumb.html" . -}}</div>
            <article class="metas">
                <h3 class="text-md font-bold title mb-20">{{ .Title }}</h3>
                <div class="meta flex center-x text-sm capitalize mb-05">
                    <div class="box level">
                        {{- .Page.Params.Module.Plan.Level -}}
                    </div>
                    <div class="box session">
                        {{- partial "lib/course/count-material.html" . -}} <span class="ml-05">Session</span>
                    </div>
                </div>
            </article>
        </a>
        {{- end -}}{{- end -}}
    </div>
    <div class="pagination">
        {{- partial "pagination.html" . -}}
    </div>
</div>