{{- $title := "Explore Courses" -}}
{{- with .Page.Params.Module.Parted.Taxo.Lead -}}{{- $title = . -}}{{- end -}}

{{- $leads := "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s" -}}
{{- with .Page.Params.Module.Parted.Taxo.desc -}}{{- $leads = . -}}{{- end -}}


{{- $fil1 := where .Site.Pages ".Params.terms" "intersect" ( slice  ( .Title | urlize ) ) -}}
{{- $fil2 := where .Site.Pages "Type" "course" -}}{{- $page := $fil1 | intersect $fil2 -}}{{- $list := slice -}}
{{- range  where .Site.Pages "Type" "course" -}}
    {{- if eq .Page.Params.Module.Layout "term" -}}{{- $list = $list | append . -}}{{- end -}}
{{- end -}}

<div id="taxo" class="">
    <hr class="desktop">
    <div class="info flex center-x max-width">
        <h2 class="text-3xl mb-00 mt-00">{{- $title -}}</h2>
        <a href="/{{ .Section }}/terms/" class="flex center-x ml-a">
            <div class="font-bold desktop">All Categories</div>
            <div class="icon md border-all rounded-full ml-20">{{- partial "icon/line/arrow-right.svg" -}}</div>
        </a>
    </div>
    <div class="desc max-width desktop">
        <p class="mb-40 mr-30">{{- $leads -}}</p>
    </div>
    <ul class="box mb-40 mr-30 desktop">
        {{- range first 6 $list -}}
        <li class=""><a href="{{ .RelPermalink }}">
            <div class="card border-all rounded-lg flex center-x">
                <img src="{{ .RelPermalink }}{{ .Page.Params.Module.Cover }}" class="category-image rounded-full">
                <div class="ml-10 font-bold">{{- .Title -}}</div>
            </div>
        </a></li>
        {{- end -}}
    </ul>
   
</div>