
{{- $list := partial "module/course/item/home/data/query-term-page.html" . -}}

<div id="taxo" class="mb-60">
    <hr class="mt-00 mb-30">
    <div class="max-width">
        <div class="head flex center-x mb-20 mt-40">
            <h2 class="text-md uppercase font-bold mb-00 mt-00 mobile" >{{ T "eksplorasi" }}</h2>
            <h2 class="text-md uppercase font-bold mb-00 mt-00 desktop">{{ T "explore_long" }}</h2>
            <a href="/{{ .Section }}/terms/" class="action flex center-x ml-a">
                <div class="capitalize  font-bold">{{ T "allcat" }}</div>
                <div class="icon md border-all rounded-full ml-20">{{- partial "icon/line/arrow-right.svg" -}}</div>
            </a>
        </div>
        {{- with .Page.Params.Parted.Taxo.desc -}}
        <div class="leaf">
            <p class="mb-40 mr-30">{{- . -}}</p>
        </div>
        {{- end -}}
        <div class="list">
            {{- range first 6 $list -}}
            <a href="{{ .RelPermalink }}" class="card rounded-lg flex center-x">
                {{- $image := .Page.Resources.GetMatch .Page.Params.Module.Cover -}}
                {{- $thumb := $image.Fill "42x42 webp q100" -}}
                {{- with $thumb -}}
                    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="category-image rounded-full" loading="lazy" alt="{{ .Title }}course category">
                {{- end -}}
                <div class="text ml-10 font-bold">{{- .Title -}}</div>
            </a>
            {{- end -}}
        </div>
    </div>
</div>