{{- $fil1 := where .Site.Pages ".Params.terms" "intersect" ( slice  ( .Title | urlize ) ) -}}
{{- $fil2 := where .Site.Pages "Type" "course" -}}{{- $page := $fil1 | intersect $fil2 -}}{{- $list := slice -}}
{{- range  where .Site.Pages "Type" "course" -}}
    {{- if eq .Page.Params.Module.Layout "term" -}}{{- $list = $list | append . -}}{{- end -}}
{{- end -}}

<div id="term" class="mid mb-40">
    <div class="mb-20">
        <div class="head flex mb-10">
            <h2 class="text-xl mb-00 mt-00 font-bold">Categories</h2>
            <a href="/{{ .Section }}/terms/" class="flex center-x ml-a">
                <div class="font-bold text-sm">Explore</div>
                <div class="icon md ml-10">{{- partial "icon/line/arrow-right.svg" -}}</div>
            </a>
        </div><hr>
        <p class="mt-00">Learn on-the-go or right at home with self-paced courses. Get started today!</p>
    </div>
    <ul class="box mb-40">
        {{- range first 6 $list -}}
        <li class=""><a href="{{ .RelPermalink }}">
            <div class="card border-all rounded-lg flex center-x">
                <img src="{{ .RelPermalink }}{{ .Page.Params.Module.Cover }}" class="category-image rounded-full" loading="lazy">
                <div class="ml-10 font-bold">{{- .Title -}}</div>
            </div>
        </a></li>
        {{- end -}}
    </ul>
</div>