#landing #hero {

    min-height: 60vh;

    .rows{
        margin-bottom: 2rem;
    }

    .imgs, .text{
        width: 100%;
    }

    img{
        width: 300px;
        margin: auto;
    }

    h1{
        text-align: center;
        font-size: 2.2rem;
    }
}


@media only screen and (min-width: 480px) {

    #landing #hero{

        .imgs, .text{
            width: 460px;
        }

        img{ width: 100%; }

        h1{
            font-size: 2.25rem;
        }
    }
}


@media only screen and (min-width: 768px) {
    
    #landing #hero{

        .rows{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }

        .imgs, .text{
            width: 100%;
        }

        
        h1{
            text-align: left;
            font-size: 2.2rem;
        }
    }
}


@media only screen and (min-width: 1024px) {
    
    
    #landing #hero{
        width: 90%;
        margin: auto;
        min-height: 85vh;
       
        .text{
            width: 100%;
        }

        .imgs{
            min-width: 560px;
        }

        h1{
            font-size: 3rem;
        }

        hr{
            position: absolute;
            left: 0;
            right: 0;
            margin-top: 25rem;
            width: 640px;
        }
    }
}


@media only screen and (min-width: 1280px) {  
    
    #landing #hero{
        img{ width: 512px; }
    }
}


@media only screen and (min-width: 1536px) {

    
}