#landing #taxo {
    width: 100%;

    h2{
        font-weight: 600;
        font-size: 1.25rem;
    }

    hr{
        margin-bottom: 1rem;
    }
    .max-width{
        width: 100%;
    }

    .info{
        margin-bottom: 3.5rem;
    }

    a{
        margin-right: 0;
    }
}


@media only screen and (min-width: 480px) {

    #landing #taxo{

        .max-width{
            width: 100%;
        }

        h2{
            font-weight: 300;
            font-size: 1.35rem;
        }

        hr{
            margin-bottom: 3rem;
        }

        .info{
            padding-bottom: 0;
            border-bottom: 0;
            margin-bottom: 2.5rem;
        }

        .action{
            margin-left: auto;
        }

        .card{
            border: 1px solid transparent;
            padding: 5px 10px;
        }

        .card:hover{
            border: 1px solid var(--line-01);
            background-color: var(--background-02);
        }

        img{
            width: 42px;
            height: 42px;
            object-fit: cover;
        }

        .leaf{
            display:grid;
            grid-template-columns: repeat(2, calc( 50% - 1rem ));
            grid-gap: 1rem;
        }
    }




    
}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1536px) {

}