#hero {

    .grid{
        justify-content: space-between;
    }
    
    .head{
        img{
            display: none;
            height: auto;
            margin: auto;
        }
    }
}


@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {
    #hero{

        .grid{
            grid-template-columns: 220px calc( 100% - 220px - 2rem );
        }

        .head{
            img{
                display: block;
                width: 220px;
            }
        }
    }
}


@media only screen and (min-width: 1024px) {
    #hero {

        .grid{
            grid-template-columns: 280px calc( 100% - 280px - 2rem );
        }
    }
}


@media only screen and (min-width: 1280px) {   
}


@media only screen and (min-width: 1536px) {
    #hero{

        .grid{
            grid-template-columns: 320px calc( 100% - 320px - 2rem );
        }

        .head{
            img{
                width: 320px;
            }
        }
    }
}