#list{

    .leaf{
        display: grid;
        grid-gap: 2rem 0;
        grid-template-columns: 100%;
        justify-content: space-between;
    }

    .pagination{
        margin-top: 4rem;
    }
}


@media only screen and (min-width: 480px) {

    #list{
        .pagination{
            margin-top: 4rem;
        }
    }
}


@media only screen and (min-width: 620px) {
    
    #list{
        
    }  
}


@media only screen and (min-width: 768px) {

    #list{
        .leaf{
            grid-template-columns: repeat(auto-fill, 225px);
            grid-gap: 3.5rem 0rem;
        }
    }
}


@media only screen and (min-width: 1024px) {
   
}


@media only screen and (min-width: 1280px) {
     
}


@media only screen and (min-width: 1536px) {

}