#main{
    margin-bottom: 5rem;

    .title{
        margin-top: 0;
        margin-bottom: 4rem;
    }

    p{
        font-size: 1.05rem;
        line-height: 1.65rem;
    }

    h1, h2, h3, h4, h5, h6{
        margin: 2rem 0;
    }
}


@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {

    #main{
        max-width: 680px;
        width: 680px;
        margin: 5rem auto;
       
        
        .title{
            margin-bottom: 4rem;
        }

        p{
            font-size: 1.05rem;
            line-height: 1.65rem;
        }
    }
}


@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1280px) {

    #main{
        margin: 0 auto;
    }
}


@media only screen and (min-width: 1536px) {

}