#rels{

    .leaf{
        .number{
            min-width: 1.75rem;
            height: 1.75rem;
            width: 1.75rem;
            background-color: var(--background-02);
        }
    }

}


@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {

    #rels{
        max-width: 680px;
        width: 680px;
        margin: auto;
        margin-bottom: 3rem;
    }
}


@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1280px) {

    #rels{
        width: 100%;
    }
}


@media only screen and (min-width: 1536px) {

}