#info {
    .grid{
        grid-gap: 5rem;
    }

    #hero{
        margin: 5rem 0 4rem 0;
    }

    #talk{
        margin-bottom: 5rem;
    }

    #silo{
        margin-bottom: 3rem;
    }

    #team{
        .grider{
            grid-gap:  1rem;
        }
    }
}


@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 1024px) {


}


@media only screen and (min-width: 1280px) {
    #info{
        margin-bottom: 7rem;

        .grid{
            grid-template-columns: 340px calc( 100% - 340px - 7rem );
        }

        #main-2{
            .main{
                grid-column: 2;
                grid-row: 1;
            }
            .side{
                grid-column: 1;
                grid-row: 1;
            }
        }

        #hero{
            margin: 5rem 0 7rem 0;
        }

        #talk{
            margin-bottom: 5rem;
        }
    }
}


@media only screen and (min-width: 1536px) {

}