@import "../../../../../core/css/main/form.scss";
@import "../../../../../core/css/main/icon.scss";
@import "../../../../../core/css/main/part.scss";
@import "../../../../../core/css/main/typo.scss";
@import "../../../../../core/css/main/wrap.scss";


#course #hero .organon{
    width: 80%;
    overflow: hidden;
    margin: -4rem auto 0 auto;
}

#course #hero .profile{
    width: 6rem;
    overflow: hidden;
    border: .8rem solid var(--coln-01);
    z-index: 2;
    position: relative;
}

#course #hero .liner{
    overflow: hidden;
}

#course #team .image{
    width: 48px;
    height: 48px;
    overflow: hidden;
}

#course #team .image img{
    width: 48px;
    height: 48px;
    object-fit: cover;
    overflow: hidden;
}


#course #hero img{
	width: 100%;
}

#hero.feature .meta{
	display: grid;
	align-content: space-between;
}