#hero{
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    align-items: center;
    grid-gap: 2rem;

    .head{

        picture, img{
            width: 280px;
            height: 100%;
            margin: auto;
        }
    } 

    .leaf{
        text-align: center;

        .lead{
            margin-bottom: 3rem;

            h1{
                font-size: 1.8rem;
                margin-bottom: 1.5rem;
            }

            hr{
                width: 50%;
                margin: 2rem auto;
            }

            p{
                font-size: 1.2rem;
                margin: auto;
                width: 95%;
            }
        }

        .stat{
            text-align: left;
            grid-template-columns: repeat( 2, calc( 50% - 3rem ) );
            justify-content: center;
            grid-gap: 2rem 0;
            margin-bottom: 1rem;
        }
    }
}

@media only screen and (min-width: 480px) {

    #hero{

        .head{
            picture, img{
                width: 380px;
            }
        } 

        .leaf{

            .lead{
                margin-bottom: 4rem;

                h1{
                    font-size: 2.4rem;
                    margin-bottom: 2rem;
                }
            }

            .stat{
                grid-gap: 2.5rem 0;
                margin-bottom: 1rem;
            }
        }
    }
}


@media only screen and (min-width: 768px) {

    #hero{
        

        .head{
            picture, img{
                width: 480px;
                margin: auto;
            }
        }

        .leaf{

            .lead{
                margin-bottom: 3rem;

                h1{
                    font-size: 2.5rem;
                    margin-bottom: 2rem;
                }

                p{
                    width: 80%;
                }
            }

            .stat{
                width: 80%;
                grid-gap: 1.5rem 0;
                margin: 1rem auto;
            }
        }
    }
}


@media only screen and (min-width: 1024px) {

    #hero{
        grid-template-columns: 420px calc( 100% - 420px) ;
        min-height: 58vh;
        margin-bottom: 7rem;

        .head{
            margin-bottom: 0;
            
            picture, img{
                width: 420px;
            }
        }

        .leaf{

            text-align: left;

            .lead{
                margin-bottom: 3rem;

                h1{
                    margin-bottom: 2rem;
                }

                hr{
                    margin-left: 0;
                }

                p{
                    width: 100%;
                }
            }

            .stat{
                justify-content: flex-start;
                width: 100%;
            }
        }
    }
}


@media only screen and (min-width: 1280px) {

    #hero{
        grid-template-columns: 480px calc( 100% - 480px );

       .head{
            picture, img{
                width: 480px;
            }
        }

        .leaf{
            width: 90%;

            .stat{
                grid-template-columns: repeat( 2, calc( 50% - 4rem ) );
                justify-content: normal;
                grid-gap: 1rem;
            }
        }
    }
}


@media only screen and (min-width: 1536px) {

}