#list{

    .leaf{
        grid-gap: 2rem 0;
    }

    .pagination{
        margin-top: 4rem;
    }
}


@media only screen and (min-width: 480px) {

    #list{
        .pagination{
            margin: 7rem auto 0rem auto;
        }
    }
}


@media only screen and (min-width: 620px) {
    
}


@media only screen and (min-width: 768px) {

    #list{
        .leaf{
            grid-template-columns: repeat(auto-fill, 220px);
        }
    }
}


@media only screen and (min-width: 1024px) {
   
}


@media only screen and (min-width: 1280px) {
     
}


@media only screen and (min-width: 1536px) {

}