{{- $path := "module/course/page/main/view/task" -}}
{{- $klas := printf "%s/klas.html" $path -}}
<div id="info" class="tabs-item open">
    <div class="head">
        {{ partial $klas . }}
    </div>
    <div class="lead">
        <div class="crit">
            <div class="subhead">
                <h2 class="font-bold mb-20 mt-00">{{- .Page.Params.Module.scope.lead -}}</h2><hr class="mb-10">
                <p>{{- .Page.Params.Module.scope.desc -}}</p>
            </div>
            <div class="slot grid">
                {{- range .Page.Params.Module.scope.data -}}
                    <div class="card">
                        <h4 class="text-lg font-bold mt-00 mb-00 pb-10 pl-20 border-left border-bottom">{{ .lead  }}</h4>
                        <p class="text-md border-left mt-00 mb-00 pt-10 pb-10 pl-20">{{ .desc }}</p>
                        {{ range .item }}
                        <div class="flex center-x border-left mb-00 pt-10 pb-10 pl-20">
                            <div class="icon md">
                                {{- partial "icon/line/check-circle.svg" -}}
                            </div>
                            <p class="mb-00 mt-00 ml-15">{{ . }}</p>
                        </div>
                        {{ end }}
                    </div>
                {{- end -}}
            </div>
        </div>
    </div>
</div>