{{ $data := partial "lib/course/query/repo-page-navs-pool.html" . }}

{{- if or ( $data.Next . ) ( $data.Prev . ) -}}
<div id="navs">
    <hr class="mt-00 mb-00">
    <div class="rows grid">
        <div class="next-post text-right">
            {{- with $data.Next . -}}
            <a class="link-reverse" href="{{ .RelPermalink }}">
                <h3 class="top uppercase flex center-x float-right font-bold text-sm mt-00 mb-00">
                    <div class="icon xs ml-10">{{- partial "lib/icon" "arrow-left" -}}</div>{{ T "preves_repo_acts" }}
                </h3>
                <div class="mid desktop text-sm uppercase font-bold mb-05 clear-both block">Session {{ .Params.weight }}</div><div class="low desktop block">{{ .Title }}</div>
            </a>{{- end -}}
        </div>
        <div class="prev-post text-left border-left">
            {{- with $data.Prev . -}}
            <a class="link-reverse" href="{{ .RelPermalink }}">
                <h3 class="top uppercase flex center-x font-bold text-sm mt-00 mb-00">
                    {{ T "nextos_repo_acts" }}<div class="icon xs ml-10">{{- partial "lib/icon" "arrow-right" -}}</div>
                </h3>
                <div class="mid desktop text-sm uppercase font-bold mb-05 block">Session {{ .Params.weight }}</div><div class="low desktop block">{{ .Title }}</div>
            </a>{{- end -}}
        </div>
    </div>
    <hr class="mt-00 mb-00">
</div>
{{- end -}}