{{- $part := partial "lib/pather/module-part.html" . -}}
{{- $view := partial "lib/pather/module-view.html" . -}}
{{- $lazy := partial "lib/pather/module-lazy.html" . -}}

{{- $talk := printf "%s/talk.html" $view -}}
{{- $bugs := printf "%s/bugs.html" $view -}}
{{- $repo := printf "%s/repo.html" $view -}}

<div id="page">
    <div id="tabs-repo" class="tab-content page-tab open">
        {{- partial "lib/format.html" . -}}
    </div>
    <div id="tabs-talk" class="tab-content page-tab">
        {{- partial $talk . -}}
    </div>
    <div id="tabs-help" class="tab-content page-tab">
        {{- partial $bugs . -}}
    </div>
</div>