{{- $data := partial "lib/course/query/pool-repo-all-repo.html" . -}}

<asside id="plan">
    <div class="overlay">
        <div class="head">
            <h2 class="font-light text-md font-bold mr-10 mt-00 mb-05 uppercase">Session Navigation</h2>
            <h2 class="font-light text-md upper mt-00 mb-20">Current Period | <span class="font-bold">Session {{ .Page.Params.Module.Period }}</span></h2><hr>
        </div>
        <div class="leaf">
            {{- range $data -}}{{ $status := .status }}{{ $session := .session }}
            <div class="session">
                <div class="opening flex center-x" data-open="session-module-{{ .session }}">
                    <h2 class="text-md uppercase font-bold text-gray-400">Session {{ .session }}</h2>
                    <div class="icon md ml-a">{{ partial "icon/line/plus.svg" }}</div>
                </div>
                <div id="session-module-{{ .session }}" class="parted {{ with ne $status true -}} close {{- end -}}">
                    {{- range .list -}}
                    <a href="{{ .RelPermalink }}" class="card-plan mb-10 {{ with eq $status true -}} active {{- end -}}">
                        <div class="name flex center-x">
                            <div class="icon lg">{{ partial "icon/line/folder.svg" }}</div>
                            <h3 class="capitalize text-md font-bold mb-15">{{ .LinkTitle }}</h3>
                        </div>
                        <p class="mt-00 text-sm">{{ .Page.Params.Description }}</p>
                    </a>
                    {{- end -}}
                </div>
            </div><hr>   
            {{- end -}}
        </div>
    </div>
</asside>