{{- $part := partial "lib/pather/module-part.html" . -}}
{{- $view := partial "lib/pather/module-view.html" . -}}
{{- $data := partial "lib/pather/module-data.html" . -}}
{{- $lazy := partial "lib/pather/module-lazy.html" . -}}

{{- $card_task := printf "%s/task-card.html" $part -}}
{{- $card_test := printf "%s/test-card.html" $part -}}

{{- $work_task := partial "lib/course/query/pool-repo-set-task.html" . -}}
{{- $work_test := partial "lib/course/query/pool-repo-set-test.html" . -}}


<div id="work">
    <div class="rows">
        <div class="task">
            <div class="head mb-60">
                <div class="flex center-x border-bottom mb-30">
                    <div class="icon md">{{ partial "icon/line/git-pull-request.svg" }}</div>
                    <h2 class="text-lg uppercase font-bold border-left pl-15 pb-10 mb-00">Practice</h2>
                </div>
                <p> This practive activity for module {{ .Title }} </p>
            </div>
            <div class="leaf">
                {{- range $work_task -}}{{- partial $card_task . -}}{{- end -}}
            </div>
        </div>
        <div class="test">
            <div class="head mb-60">
                <div class="flex center-x border-bottom mb-30">
                    <div class="icon md">{{ partial "icon/line/archive.svg" }}</div>
                    <h2 class="text-lg uppercase font-bold border-left pl-15 pb-10 mb-00">Assignment</h2>
                </div>
                <p> Task bellow is assignment activity for module {{ .Title }} </p>
            </div>
            <div class="leaf">
                {{- range $work_test -}}{{- partial $card_test . -}}{{- end -}}
            </div>
        </div>
    </div>
</div>

