{{- $part := partial "lib/pather/module-part.html" . -}}
{{- $view := partial "lib/pather/module-view.html" . -}}
{{- $lazy := partial "lib/pather/module-lazy.html" . -}}

{{- $card_task := printf "%s/task-card.html" $part -}}
{{- $card_test := printf "%s/test-card.html" $part -}}

{{- $data_task := partial "lib/course/query/repo-page-take-task.html" . -}}
{{- $data_test := partial "lib/course/query/repo-page-take-test.html" . -}}


<div id="work">
    <div class="rows">
        <div class="task">
            <div class="head mb-60">
                <div class="flex center-x border-bottom mb-30">
                    <div class="icon md">{{ partial "lib/icon" "git-pull-request" }}</div>
                    <h2 class="text-md uppercase font-bold border-left pl-15 pb-10 mb-00">{{ T "tasked_head_rule" }}</h2>
                </div>
                <p>{{ T "tasked_decs_note" }} {{ .Title }} </p>
            </div>
            <div class="leaf">
                {{- range $data_task -}}{{- partial $card_task . -}}{{- end -}}
            </div>
        </div>
        <div class="test">
            <div class="head mb-60">
                <div class="flex center-x border-bottom mb-30">
                    <div class="icon md">{{ partial "lib/icon" "archive" }}</div>
                    <h2 class="text-md uppercase font-bold border-left pl-15 pb-10 mb-00">{{ T "tested_head_rule" }}</h2>
                </div>
                <p>{{ T "tested_decs_note" }} {{ .Title }}</p>
            </div>
            <div class="leaf">
                {{- range $data_test -}}{{- partial $card_test . -}}{{- end -}}
            </div>
        </div>
    </div>
</div>

