{{- $names := partial "lib/profile/group-name.html"  (dict  "ctx" . "site" $ "name" .Page.Params.Team.Organization )  -}}
{{- $cover := partial "lib/course/hero-group.html"   (dict  "ctx" . "site" $ "name" .Page.Params.Team.Organization )  -}}

<div id="hero" class="mb-60">
    <div class="mb-60">
        {{- partial "lib/course/hero-thumb.html"  . -}}
        <div class="organon">
            <div class="profile flex center-x center-y rounded-2xl mb-20">
                <div class="liner rounded-2xl">
                    {{ partial "lib/course/hero-group.html"  . }}
                </div>
            </div>
            <h2 class="uppercase text-lg mt-10 mb-20">
                <span class="capitalize text-gray-500 mr-05">Present By</span> {{ $names }}
            </h2>
        </div>
    </div>
    <div class="mb-60">
        <h1 class="text-4xl mt-05 mb-50">{{ .Title }}</h1>
        <p class="mb-60">{{ .Content }}</p>
    </div>
</div>