{{- $content := .Page.Params.Description -}}{{- with .Content -}}{{- $content = . -}}{{- end -}}
<div id="desc" class="mt-40 mb-60">
    <div class="subhead border-bottom flex center-x mb-20">
        <div class="icon md mr-15 border-right pa-05">{{- partial "icon/line/tag.svg" -}}</div>
        {{- if .Page.Params.Parted.Desc.Lead -}}
            <h2 class="text-md uppercase font-bold mt-00 mb-00 pr-20">{{ .Page.Params.Parted.Desc.Lead }}</h2>
        {{- else -}}
            <h2 class="text-md uppercase font-bold mt-00 mb-00 pr-20">{{ T "main_tabs_lead_desc" }}</h2>
        {{- end -}}
    </div>
    <div class="leaf">{{- $content -}}</div>
</div>