{{- $ctx  := . -}}{{- $site := $ -}}
<div id="hero">
    <div class="rows grid">
        <div class="thumb">
            {{- partial "course/module/item/main/part/thumb-feature.html" . }}
        </div>
        <div class="metas grid center-x">
            <div class="inform">
                <div class="title mb-20">
                    <h1 class="text-4xl mt-00 mb-00">{{ .Title }}</h1>
                    <div class="info mr-30">
                        <div class="flex center-x mb-05 mb-40">
                            <div class="img border-all rounded-lg flex center-x mr-20 pa-05">{{- partial "course/module/item/main/part/thumb-group.html" (dict  "ctx" $ctx "site" $site "name" .Page.Params.Parted.Team.Name ) -}}</div>
                            <div class="text">
                                <p class="capitalize mb-05 mt-00">{{ T "parted_hero_prov" }}</p>
                                <p class="font-bold uppercase mb-00 mt-00">{{- .Page.Params.Parted.Team.Name -}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card grid">
                    <div class="flex center-x mb-20">
                        <div class="count font-md text-3xl mr-20">
                            {{- partial "lib/course/count-material.html"  . -}}
                        </div>
                        <div class="text">
                            <div class="uppercase font-bold text-xs text-gray-500">{{ T "module_sum_top" }}</div>
                            <div class="capitalize text-md">{{ T "module_sum_bot" }}</div> 
                        </div>
                    </div>
                    <div class="flex center-x mb-20">
                        <div class="count font-md text-3xl mr-20">
                            {{- partial "lib/course/count-assigment.html" . -}}
                        </div>
                        <div class="text">
                            <div class="uppercase font-bold text-xs text-gray-500">{{ T "assign_sum_top" }}</div>
                            <div class="capitalize text-md">{{ T "assign_sum_bot" }}</div> 
                        </div>
                    </div>
                    <div class="flex center-x mb-20">
                        <div class="count font-md text-3xl mr-20">
                            {{- partial "lib/course/count-periodic.html"  . -}}
                        </div>
                        <div class="text">
                            <div class="uppercase font-bold text-xs text-gray-500">{{ T "sesion_sum_top" }}</div>
                            <div class="capitalize text-md">{{ T "sesion_sum_bot" }}</div> 
                        </div>
                    </div>
                    <div class="flex center-x mb-20">
                        <div class="count font-md text-3xl mr-20">
                            {{- partial "lib/course/count-projects.html"  . -}}
                        </div>
                        <div class="text">
                            <div class="uppercase font-bold text-xs text-gray-500">{{ T "proyek_sum_top" }}</div>
                            <div class="capitalize text-md">{{ T "proyek_sum_bot" }}</div> 
                        </div>
                    </div>
                </div>
            </div>
            {{- if .Page.Params.Parted.Paid.Data.Price -}}
                {{- partial "course/module/item/main/view/paid.html" . -}}
            {{- else -}}
                {{- partial "course/module/item/main/view/open.html" . -}}
            {{- end -}}
        </div>
    </div>
</div>