{{- $part := partial "lib/pather/module-part.html" . -}}
{{- $view := partial "lib/pather/module-view.html" . -}}
{{- $data := partial "lib/pather/module-data.html" . -}}
{{- $lazy := partial "lib/pather/module-lazy.html" . -}}


{{- $feat := printf "%s/hero-thumbnail.html" $part  -}}
{{- $team := printf "%s/hero-team-card.html" $part  -}}
{{- $stat := printf "%s/hero-stat-card.html" $part  -}}
{{- $open := printf "%s/price-open-card.html" $part -}}
{{- $paid := printf "%s/price-paid-card.html" $part -}}


<div id="hero">
    <div class="rows grid">
        <div class="thumb">{{- partial $feat . -}}</div>
        <div class="metas grid center-x">
            <div class="infos">
                <div class="title mb-40">
                    <h1 class="text-4xl mt-00 mb-00">{{ .Title }}</h1>
                    {{- partial $team . -}}
                </div>
                <div class="count">
                    {{- $module := ( dict "name" ( T "module_stat_lead" ) "desc" ( T "module_stat_desc" ) "sums" ( partial "lib/course/count/material.html"  . ) ) -}}
                    {{- $asigne := ( dict "name" ( T "assign_stat_lead" ) "desc" ( T "assign_stat_desc" ) "sums" ( partial "lib/course/count/assigned.html" . ) ) -}}
                    {{- $sesion := ( dict "name" ( T "sesion_stat_lead" ) "desc" ( T "sesion_stat_desc" ) "sums" ( partial "lib/course/count/periodic.html"  . ) ) -}}
                    {{- $proyek := ( dict "name" ( T "proyek_stat_lead" ) "desc" ( T "proyek_stat_desc" ) "sums" ( partial "lib/course/count/projects.html"  . ) ) -}}
                    {{- range ( slice $module $asigne $sesion $proyek) -}}
                        {{- partial $stat . -}}
                    {{- end -}}
                </div>
            </div>
            <div class="offer">
                {{- cond ( eq .Params.offers.price "" ) ( partial $open . ) ( partial $paid . ) -}}
            </div>
        </div>
    </div>
</div>