{{- $part := partial "lib/pather/module-part.html" . -}}
{{- $lazy := partial "lib/pather/module-lazy.html" . -}}

{{- $data := partial "lib/course/datum/item-need-pool.html" . -}}


<div id="need" class="mb-60">
    <div class="head mb-15 mb-40">
        <h2 class="text-md uppercase font-bold mt-00 mb-00">{{ T "parted_need_lead" }}</h2>
    </div>
    <div class="leaf grid">
        {{- range $data -}}
        <div class="flex mb-30">
            <div class="icon sm mr-15">{{ partial "lib/icon.html" .icon }}</div>
            <div class="text border-left">
                <h3 class="uppercase text-sm font-bold mb-05 mt-00 pl-20">{{ .prop }}</h3>
                <hr>
                <p class="text-sm mb-00 mt-00 pl-20">{{ .desc }}</p>
            </div>
        </div>
        {{- end -}}
    </div>
</div>