{{- $ctx  := . -}}{{- $site := $ -}}{{- $index := 1 -}}
<div id="node">
    <div class="subhead border-bottom flex center-x mb-20">
        <div class="icon md mr-15 border-right pa-05">{{- partial "icon/line/layers.svg" -}}</div>
        <h2 class="text-md uppercase font-bold mt-00 mb-00 pr-20">{{ T "parted_node_lead" }}</h2>
        <div class="boxtab flex center-x ml-a">
            {{- range .Page.Params.Parted.Node -}}
            <div id="info-{{ .class | urlize }}-action" data-target="tabs-page-group-{{ .class | urlize }}" class="node-action tab-action flex center-x open ml-15">
                <p class="text-sm font-bold uppercase"><span class="tablet">{{ T "parted_node_clas" }}</span> {{ .class }}</p>
            </div>
            {{- end -}}
        </div>
    </div>
    <div class="subleaf">
        {{- range .Page.Params.Parted.Node -}}
            <div id="tabs-page-group-{{ .class | urlize }}" class="node-item tabs-item {{ with $index }}open{{ end }}">
                <div class="quota mb-20 mt-30 flex center-x">
                    <div class="li-head">
                        <h3 class="text-md font-bold uppercase mt-00 mb-00">{{ T "parted_node_clas" }} {{ .class }}</h3>
                    </div>
                    <div class="flex center-x ml-a">
                        <h3 class="text-sm uppercase mt-00 mb-00">{{ T "parted_node_caps" }}</h3>
                        <h3 class="text-sm uppercase font-bold mt-00 mb-00 ml-20">{{ .quota }} {{ T "parted_node_seat" }}</h3>
                    </div> 
                </div>
                <div class="divs">
                    <div class="enrol mb-40">
                        <div class="li-head mb-10">
                            <h3 class="text-sm font-bold uppercase mb-00">{{ T "parted_node_regs" }}</h3>
                        </div>
                        <div class="li-leaf grid">
                            <div class="box-left subli">
                                <div class="text-sm font-bold capitalize mb-00 pt-10">{{ T "parted_node_open" }}</div>
                                <h4 class="text-md mt-05 mb-00">{{ .start.register }}</h4>
                            </div>
                            <div class="box-right subli">
                                <div class="text-sm font-bold capitalize mb-00 pt-10">{{ T "parted_node_clos" }}</div>
                                <h4 class="text-md mt-05 mb-00">{{ .close.register }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="learn mb-40">
                        <div class="li-head mb-10">
                        <h3 class="text-sm font-bold uppercase mb-00">{{ T "parted_node_prog" }}</h3>
                        </div>
                        <div class="li-leaf grid">
                            <div class="box-left subli">
                                <div class="text-sm font-bold capitalize mb-00 pt-10">{{ T "parted_node_init" }}</div>
                                <h4 class="text-md mt-05 mb-00">{{ .start.learning }}</h4>
                            </div>
                            <div class="box-right subli">
                                <div class="text-sm font-bold capitalize mb-00 pt-10">{{ T "parted_node_ends" }}</div>
                                <h4 class="text-md mt-05 mb-00">{{ .close.learning }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tutor flex center-x">
                    <div class="li-head mb-10">
                        <div class="img rounded-full">{{- partial "course/module/item/main/part/thumb-tutor.html" (dict  "ctx" $ctx "site" $site "name" .tutor ) -}}</div> 
                    </div>
                    <div class="li-leaf ml-15">
                        <div class="text-xs font-bold uppercase mb-00 pt-00">tutor</div>
                        <h4 class="text-md mt-00 mb-00">{{ .tutor }}</h4>
                    </div>
                </div>
            </div>
            {{ $index = "" }}
        {{- end -}}
    </div>
</div>