{{- $session := 1 -}}

<div id="plan" class="mt-60 grid">
    {{- range .Page.Params.Parted.Plan.Data -}}
    <div class="item flex mb-20">
        <div class="icon text-sm font-bold border-all rounded-full pa-05 mr-20">
            {{- $session -}}
        </div>
        <div class="leaf">
            <div class="head flex mb-00">
                <div class="text-sm uppercase font-bold mb-00 mt-00 pb-10 pr-15"> {{ T "session" }}  {{ $session }} </div>
                <h3 class="text-sm uppercase font-bold mb-00 mt-00 pb-10 pl-15 border-left">{{ .name }}</h3>
            </div><hr class="mt-00 mb-15">
            <div class="desc text-sm">{{ .desc }}</div>
        </div>
    </div>
    {{- $session = math.Sum $session 1 -}}
    {{- end -}}
</div>