<div id="stat" class="mb-60">
    <div class="head mb-30">
        {{- if .Page.Params.Parted.Info.Lead -}}
            <h2 class="text-md uppercase font-bold mt-00 mb-00">{{ .Page.Params.Parted.Stat.Lead }}</h2>
        {{- else -}}
            <h2 class="text-md uppercase font-bold mt-00 mb-00">{{ T "parted_stat_lead" }}</h2>
        {{- end -}}
    </div>
    <div class="leaf grid border-all rounded-lg mb-30">
        <div class="flex center-x pa-05">
            <div class="icon md text-white">
                {{ partial "icon/line/bar-chart-2.svg" }}
            </div>
            <div class="meta">
                <div class="capitalize text-sm mb-00">{{ T "level" }}</div>
                <div class="capitalize text-sm text-white font-bold"> {{ .Page.Params.Parted.Stat.Data.Level }} </div>
            </div>
        </div>
        <div class="flex center-x border-left pa-05">
            <div class="icon md text-white">
                {{ partial "icon/line/award.svg" }}
            </div>
            <div class="meta">
                <div class="capitalize text-sm mb-00">{{ T "certificate" }}</div>
                <div class="capitalize text-sm text-white font-bold">{{- if .Page.Params.Parted.Stat.Data.Certs -}} {{- .Page.Params.Parted.Stat.Data.Certs -}} {{- else -}} None {{- end -}} </div>
            </div>
        </div>
    </div>
</div>