{{- $part := partial "lib/pather/module-part.html" . -}}
{{- $view := partial "lib/pather/module-view.html" . -}}

{{- $part := printf "%s/part.html" $view -}}
{{- $task := printf "%s/task.html" $view -}}
{{- $team := printf "%s/team.html" $view -}}
{{- $desc := printf "%s/desc.html" $view -}}
{{- $node := printf "%s/node.html" $view -}}

<div id="tabs">
    <div class="head grid mb-10 mt-00">
        <div id="part-action" data-target="part-tabs" class="base-action tab-action flex center-x open">
            <div class="icon md rounded-lg border-all mr-15">{{- partial "lib/icon" "book" -}}</div>
            <h2 class="text-sm font-bold uppercase">{{ T "main_tabs_lead_plan" }}</h2>
        </div>
        <div id="taks-action" data-target="taks-tabs" class="base-action tab-action flex center-x">
            <div class="icon md rounded-lg border-all mr-15">{{- partial "lib/icon" "edit" -}}</div>
            <h2 class="text-sm font-bold uppercase">{{ T "main_tabs_lead_task" }}</h2>
        </div>
        <div id="info-action" data-target="info-tabs" class="base-action tab-action flex center-x ">
            <div class="icon md rounded-lg border-all mr-15">{{- partial "lib/icon" "tablet" -}}</div>
            <h2 class="text-sm font-bold uppercase">{{ T "main_tabs_lead_info" }}</h2>
        </div>
    </div>
    <div class="leaf tab-content">
        <div id="part-tabs" class="base-item tabs-item open">{{- partial $part . -}}</div>
        <div id="taks-tabs" class="base-item tabs-item">{{- partial $task . -}}</div>
        <div id="info-tabs" class="base-item tabs-item">{{- partial $desc . -}}{{- partial $node . -}}</div>
    </div>
</div>