<div id="team" class="mb-60">
    <div class="head mb-15 mb-30">
        {{- if .Page.Params.Parted.Team.Lead -}}
            <h2 class="text-md uppercase font-bold mt-00 mb-00">{{ .Page.Params.Parted.Team.Lead }}</h2>
        {{- else -}}
            <h2 class="text-md uppercase font-bold mt-00 mb-00">{{ T "parted_team_lead" }}</h2>
        {{- end -}}
    </div>
    <div class="leaf">
        {{ partial "course/module/item/main/part/team-user-lead.html" . }}
        {{ partial "course/module/item/main/part/team-user-team.html" . }}
    </div>
</div>