

{{ $path := "module/course/page/main/parts/" }}
{{ $meta := printf "%s/meta.html" $path }}


{{ $decending := slice "youtube" "vimeo" "slide" "xterm" "wave" }}
{{ $contexted := . }}{{ $rangelist := "acending" }}

{{- range $decending -}}
    {{ if eq $contexted.Page.Params.Format.Kind . }}
        {{ $rangelist = "decending" }}
    {{ end }}
{{- end -}}

{{ if eq $rangelist "decending" }}
    <div class="mb-60">
    {{- partial "lib/format.html" . -}}
    </div>
    <div class="mb-60">
    {{- partial $meta . -}}
    </div>
    <div class="mb-60">
        <h1>{{ .Title }}</h1>
        {{ if .Content }}<p>{{ .Content }}</p>{{ else }}<p>{{ .Page.Params.Lead }}</p>{{ end }}
    </div>
{{ else }}
    <h1>{{ .Title }}</h1>
    {{- partial "lib/format.html" . -}}
{{ end }}