{{- $part := partial "lib/pather/module-part.html" . -}}
{{- $feat := printf "%s/hero-thumb.html" $part -}}

<div id="hero">
    <div class="rows">
        <div class="thumb">{{ partial $feat . }}</div>
        <div class="grid">
            <div class="head flex center-x mb-40">
                <h1 class="font-bold uppercase text-md mb-00 mt-00">{{ .Title }}</h1>
            </div>
            <div class="leaf mb-60">
                <div class="desc mb-40">{{ .Params.description }}</div>
                <div class="meta grid border-top">
                    <div class="box border-right">
                        <div class="title uppercase text-xs mb-00 mt-00 mr-20 pt-10">{{ T "assign_pass_lead" }}</div>
                        <p class="capitalize font-bold text-md mb-00 mt-00">{{- .Params.inform.grade -}} </p> 
                    </div>
                    <div class="box">
                        <div class="title uppercase text-xs mb-00 mt-00 mr-20 pt-10">{{ T "assign_type_lead" }}</div>
                        <p class="capitalize font-bold mb-00 mt-00">
                            {{- cond ( eq .Params.inform.teams 0 ) ( T "assign_type_true" ) ( T "assign_type_false" ) -}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>