{{- $part := partial "lib/pather/module-part.html" . -}}
{{- $view := partial "lib/pather/module-view.html" . -}}
{{- $lazy := partial "lib/pather/module-lazy.html" . -}}


{{- $desc := printf "%s/desc.html" $view -}}
{{- $take := printf "%s/take.html" $view -}}

{{- $card := printf "%s/hint-card.html" $part -}}


<div id="hint">
    <div class="rows">
        {{ $advices  := ( dict "uniq" "required"   "icon" "package" "lead" ( T "requir_head_lead" )  "desc" ( T "requir_desc_lead" )  "data" .Params.required ) -}}
        {{ $warning  := ( dict "uniq" "cireteria"  "icon" "layers"  "lead" ( T "criter_head_lead" )  "desc" ( T "criter_desc_lead" )  "data" .Params.criteria ) -}}
        {{ $prohibit := ( dict "uniq" "prohibits"  "icon" "slash"   "lead" ( T "prohib_head_lead" )  "desc" ( T "prohib_desc_lead" )  "data" .Params.prohibit ) -}}
        {{- range ( slice $advices $warning $prohibit ) -}}
            {{ partial $card . }}
        {{- end -}}
    </div>
</div>