{{- $part := partial "lib/pather/module-part.html" . -}}
{{- $view := partial "lib/pather/module-view.html" . -}}
{{- $data := partial "lib/pather/module-data.html" . -}}
{{- $lazy := partial "lib/pather/module-lazy.html" . -}}


{{- $desc := printf "%s/desc.html" $view -}}
{{- $take := printf "%s/take.html" $view -}}

{{- $card := printf "%s/info-card.html" $part -}}


<div id="main" class="tabs-item open">
    <div class="main">
        {{- partial $take . -}}
        {{- partial $desc . -}}
    </div>
    <div class="side">
        {{ $advices  := ( dict "uniq" "advice"   "icon" "zap.svg"             "lead" "Sugestion"   "desc" "You can use this sugestion for help your assigment"         "data" .Params.sugest )   -}}
        {{ $warning  := ( dict "uniq" "warning"  "icon" "alert-triangle.svg"  "lead" "Warning"     "desc" "Please consider a few point above before do the task."      "data" .Params.warning )  -}}
        {{ $prohibit := ( dict "uniq" "prohibit" "icon" "slash.svg"           "lead" "Prohbited"   "desc" "Act a point below is prohbited due the task accomplished."  "data" .Params.prohibit ) -}}
        {{- range ( slice $advices $warning $prohibit ) -}}
            {{ partial $card . }}
        {{- end -}}
    </div>
</div>