<div id="menu">
    <hr class="mobile">
    <div class="box">
        <div class="tab-action flex center-x" data-target="guid">
            <div class="icon sm border-all rounded-full">{{ partial "icon/line/plus.svg" }}</div>
            <h2 class="text-sm uppercase font-bold ml-10">Guideline</h2>
        </div>
        <div class="tab-action flex center-x" data-target="time">
            <div class="icon sm border-all rounded-full">{{ partial "icon/line/plus.svg" }}</div>
            <h2 class="text-sm uppercase font-bold ml-10">Scheduler</h2>
        </div>
        <div class="tab-action flex center-x" data-target="eval">
            <div class="icon sm border-all rounded-full">{{ partial "icon/line/plus.svg" }}</div>
            <h2 class="text-sm uppercase font-bold ml-10">Parameter</h2>
        </div>
        
        <div class="tab-action flex center-x" data-target="remd">
            <div class="icon sm border-all rounded-full">{{ partial "icon/line/plus.svg" }}</div>
            <h2 class="text-sm uppercase font-bold ml-10">Remedial</h2>
        </div>
    </div>
    <hr class="mobile">
</div>