{{- $part := partial "lib/pather/module-part.html" . -}}
{{- $view := partial "lib/pather/module-view.html" . -}}
{{- $data := partial "lib/pather/module-data.html" . -}}
{{- $lazy := partial "lib/pather/module-lazy.html" . -}}

{{- $card := printf "%s/guid-card.html" $part -}}

<div id="remd" class="tabs-item">
    <div class="head flex center-x mb-40">
        <div class="icon lg rounded-lg mr-10 border-all">{{- partial "icon/line/rotate-cw.svg" -}}</div>
        <h2 class="font-bold uppercase text-lg mb-00 mt-00">Remedial</h2>
    </div>
    <div class="leaf">
        {{- $term  := ( dict "uniq" "term"  "icon" "bookmark.svg"  "lead" "Term and Condition"   "desc" "You can use this sugestion for help your assigment"     "data" .Params.remeds.term )  -}}
        {{- $work  := ( dict "uniq" "work"  "icon" "folder.svg"    "lead" "Homework"             "desc" "Please consider a few point above before do the task."  "data" .Params.remeds.task )  -}}
        {{- range ( slice $term $work ) -}}
            {{- partial $card . -}}
        {{- end -}}
    </div>
</div>