@import "../../../../../core/css/pack/form.scss";
@import "../../../../../core/css/pack/icon.scss";
@import "../../../../../core/css/pack/line.scss";
@import "../../../../../core/css/pack/part.scss";
@import "../../../../../core/css/pack/typo.scss";
@import "../../../../../core/css/pack/wrap.scss";

#course #hero .organon{
    width: 80%;
    overflow: hidden;
    margin: -4rem auto 0 auto;
}

#course #hero .profile{
    width: 6rem;
    overflow: hidden;
    border: .8rem solid var(--coln-01);
    z-index: 2;
    position: relative;
}

#course #hero .liner{
    overflow: hidden;
}

#course #team .image{
    width: 48px;
    height: 48px;
    overflow: hidden;
}

#course #team .image img{
    width: 48px;
    height: 48px;
    object-fit: cover;
    overflow: hidden;
}


#course #hero img{
	width: 100%;
}

#hero.feature .meta{
	display: grid;
	align-content: space-between;
}

#hero.feature .love .button svg{
	margin-right: 0;
}

#hero.feature .top .box{
	padding: 2px 15px;
} 

@-webkit-keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
@-moz-keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
@-o-keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.dot {
  -webkit-animation: blink 2s infinite;
  -moz-animation: blink 2s infinite;
  -o-animation: blink 2s infinite;
  animation: blink 2s infinite;
}

.info.feature{
	width: 8px;
    height: 8px;
    background: var(--link-01);
    border-radius: 50px;
}