#plan{

	grid-gap: 1.75rem 0;
    a{
        color: var(--color-02);
    }

	.icon{
		min-width: 1.3rem;
		width: 1.3rem;
        color: var(--link-01-based);
	}


	h3{
		width: 100%;
	}

	.head{
		div{
			text-wrap: nowrap;
		}
	}
}


@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

    #plan{
		grid-template-columns: repeat(2, 50% );
		grid-gap: 1.75rem;
		
		h3{
			margin-bottom: 0;
			width: auto;
		}

		.head{
			flex-wrap: nowrap;
            
			h3{
				text-wrap: nowrap;
			}
		}

		.item{
			align-items: flex-start;
		}
	}
}

@media only screen and (min-width: 1024px) {
    

	#plan{
		grid-template-columns: auto;

		.desc{
			align-items: center;
		}
		.icon{
			display: flex;
		}
	}
}

@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1536px) {

}