#talk{
    display: grid;
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1280px) {

    #talk{
        grid-template-columns: calc( 61% - 3rem ) 39%;
        grid-gap: 3rem;
    }
}

@media only screen and (min-width: 1536px) {

}