footer {
    bottom: 0;
    z-index: 5;
    display: flex;
    position: fixed;
	align-items: center;
    
    &, .boxed{
        width: 100%;
        background-color: var(--background-02);
    }

    .boxed{
        margin: auto;
		
        button{
            background-color: transparent;
            outline: none;
            border: none;
            color: var(--color-02);
        }

        .tabbed.open, button[data-repo="open"]{
            color: var(--link-02-based);
        }

        .icon{
            margin: 10px auto;
        }
    }
	.wrap{
		height: 50px;
	}
}



@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 1024px) {
    footer {
        right: 2rem;
        width: 40px;
        bottom: 50%;
        display: block;
        position: fixed;
		border-radius: 50px;
      
        .boxed{
            width: 42px;
			border-radius: 50px;
            border: 1px solid var(--link-01-based);
        }
    }
}


@media only screen and (min-width: 1280px) {
	
}


@media only screen and (min-width: 1536px) {

}