header{
	margin-bottom: 2rem;
    background-color: var(--background-02);

    .wrap{
        height: 3.5rem;
        width: 100%;
    }

    .action{
        margin-left: auto;
    }

    .button.outline.cancel{
        background-color: transparent;
        color: red;
        font-weight: bold;
        border: 1px solid red;
        transition: 200ms;
    }

    .button.outline.cancel:hover{
        background-color: red;
        color: #fff;
        border: 1px solid red;
        transition: 200ms;
    }
}

@media only screen and(min-width: 1024px) {
    
    header{
        margin-bottom: 3.5rem;
    }
}