#landing #info {
    display: none;
}



@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    
    #landing #info{
        display: grid;
        min-height: 60vh;
        align-items: center;

        .rows{
            grid-template-columns: calc( 260px - 3rem ) calc( 100% - 260px ); 
            grid-gap: 3rem;
        }

        .root{
            .low{ display: none; }
        }
    }
}

@media only screen and (min-width: 1024px) {
    
    #landing #info{
       .root{
            grid-template-columns: repeat( 2, calc( 50% - 2rem )); 
            grid-gap: 2rem;
        }
    }
}

@media only screen and (min-width: 1280px) {
    
    #landing #info{
        min-height: 90vh;
        .root{
            grid-template-columns: repeat( 3, calc( 33.333% - 3rem )); 
            grid-gap: 3rem;
            .low{ display: block; }
        }
    }
}

@media only screen and (min-width: 1536px) {

}