<div id="book">
    <div class="internal mb-50">
        <div class="mb-50"></div>
        <h2 class="text-2xl"> Internal Resources </h2>
        <p class="mb-50"> The following is the reference material for the course, available through the Baja Bibliotheca. Baja Bibliotheca is a memory archive institution operating under the Yuros Project. </p>
        <div class="row">
            <div class="book col col-xs-12">
                <h2 class="text-sm uppercase font-bold mb-10"> Book Material </h2>
                <hr class="mb-40">
                <div class="row">
                    {{ range .Page.Params.Cite.Internal.Book }}
                        {{ $book_uniq :=  . }}
                        {{ $book_rack := site.GetPage "library/books" }}{{ range  $book_rack.Pages }}
                            {{ if eq $book_uniq .Page.Params.Idnum }}
                            <div class="col col-xs-3 mb-20">
                                {{ partial "format/book/card/default.html" .}}
                            </div>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>
             <div class="col col-xs-12 col-lg-6">
                <div class="audio">
                    <h2 class="text-sm uppercase font-bold mb-10"> Audio Material </h2>
                    <hr class="mb-40">
                    <div class="row">
                        {{ range .Page.Params.Cite.Internal.Audio }}
                            {{ $auds_uniq :=  . }}
                            {{ $auds_rack := site.GetPage "library/audio" }}{{ range  $auds_rack.Pages }}
                                {{ if eq $auds_uniq .Page.Params.Idnum }}
                                <div class="col col-xs-6 mb-20">
                                    {{ partial "format/audio/card/default.html" .}}
                                </div>
                                {{ end }}
                            {{ end }}
                        {{- end -}}
                    </div>
                </div>
                <div class="video">
                    <h2 class="text-sm uppercase font-bold mb-10"> Video Material </h2>
                    <hr class="mb-40">
                    <div class="row">
                        {{ range .Page.Params.Cite.Internal.Video }}
                            {{ $vids_uniq :=  . }}
                            {{ $vids_rack := site.GetPage "library/video" }}{{ range  $vids_rack.Pages }}
                                {{ if eq $vids_uniq .Page.Params.Idnum }}
                                <div class="col col-xs-12 mb-20">
                                    {{ partial "format/video/card/default.html" .}}
                                </div>
                                {{ end }}
                            {{ end }}
                        {{- end -}}
                    </div>
                </div>
            </div>
             <div class="texts col col-xs-12 col-lg-6 mb-10">
                <h2 class="text-sm uppercase font-bold"> Text Material </h2>
                <hr class="mb-40">
                <div class="row">
                    {{ range .Page.Params.Cite.Internal.Text }}
                        {{ $text_uniq :=  . }}
                        {{ $text_rack := site.GetPage "library/texts" }}{{ range  $text_rack.Pages }}
                            {{ if eq $text_uniq .Page.Params.Idnum }}
                            <div class="col col-xs-12 mb-10">
                                {{ partial "format/text/card/default.html" .}}
                            </div>
                            {{ end }}
                        {{ end }}
                    {{- end -}}
                </div>
            </div>
            
        </div>
    </div>
    <div class="external">
        <h2 class="text-2xl mb-40"> External Resources </h2>
        <div>
            <ol class="row">
            {{ range .Page.Params.Cite.External }}
                <li class="col col-xs-12 col-md-6">{{ . }}</li>
            {{ end }}
            </ol>
        </div>
    </div>
</div>