#parteds #hero {

    margin-bottom: 5rem;


    h1 {
        margin-top: 0;
    }


    hr { 
        display: none; 
    }
}


@media only screen and (min-width: 480px) {

    #parteds #hero{
        h1{
            font-weight: 300;
            font-size: 2.5rem;
            width: 100%;
        }
    }
}

@media only screen and (min-width: 768px) {
    
    #parteds #hero{
        h1{
            width: 620px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    
    #parteds #hero{
        h1{
            width: 620px;
        }
    }
}

@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1536px) {

}