

@media only screen and (min-width: 480px) {

    #parteds #join{

        .list{
            border-top: 1px solid var(--line-01);
            display: flex;
        }

        .cont{
            margin-top: 2rem;
            padding-right: 2rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    #parteds #join{

        .list{
            border-top: 0px;
            display: block;
        }

        .cont{
            margin-top: 0;
            padding-right: 0rem;
        }
    }
}

@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1536px) {

}