#parted {
    #join, #team, #bugs, #term .box{
        display: none;
    }
}


#parteds #rows {
    display: flex;
    flex-wrap: wrap;
}


#parteds #div1 {
    width: 100%;
    margin-bottom: 3rem;
}


#parteds #div2 {
    width: 100%;
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
    #parteds{
        #join, #team, #bugs, #term .box{
            display: block;
        }
    }

    #parteds #rows{
        flex-wrap: nowrap;
    }


    #parteds #div1{
        width: calc( 100% - 300px );
        padding-right: 2rem;
    }


    #parteds #div2{
        width: 300px;
        padding-left: 2rem;
    }
}

@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1536px) {

}