#parted {
    #join, #team, #bugs, #term .box{
        display: none;
    }
}


#parteds #rows {
    display: flex;
    flex-wrap: wrap;
}


#parteds #div1 {
    width: 100%;
    margin-bottom: 3rem;
}


#parteds #div2 {
    width: 100%;
}