#parteds #term {

    hr{
        margin-block-start: 0;
    }


    ul {
        list-style: none;
    }

 
    .leaf{
        display: grid;
        grid-template-columns: repeat( 2, calc( 50% - 1rem ) );
        grid-gap: 1rem;
    }
 

    .card{
        border: 1px solid transparent;
        padding: 5px 10px;
    }


    .card:hover{
        border: 1px solid var(--line-01);
        background-color: var(--background-02);
    }


    img{
        width: 42px; 
        height: 42px;
        object-fit: cover;
    }
}


@media only screen and (min-width: 480px) {

    #parteds #term {
        .leaf{
            grid-template-columns: repeat( 3, calc( 33.333% - 1rem ) );
        }
    }

}


@media only screen and (min-width: 768px) {
    
     #parteds #term {
        .leaf{
            grid-template-columns: repeat( 4, calc( 25% - 1rem ) );
        }
    }
}


@media only screen and (min-width: 1024px) {
    
    #parteds #term {
        .leaf{
            grid-template-columns: repeat( 1, calc( 100% - 1rem ) );
        }
    }
}


@media only screen and (min-width: 1280px) {
    
}


@media only screen and (min-width: 1536px) {

}