#main-5{

    .once, .rows{
        grid-template-columns: 100%;
        justify-content: space-between;
        grid-gap: 5rem 0;
        margin-bottom: 5rem;
    }

}
@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1280px) {

    #main-5{

        .once, .rows{
            margin-bottom: 10rem;
        }

        .rows{
            grid-template-columns: repeat( 2, calc( 50% - 4rem ));
        }
    }
}


@media only screen and (min-width: 1536px) {

}