<div id="info">
    <div class="rows grid center-x">
        <div class="head">
            {{- partial "course/module/base/main/part/thumb-info.html" . -}}
        </div>
        <div class="leaf">
            <h2 class="text-4xl mt-00 mb-40">{{ .Page.Params.Parted.Info.Lead }}</h2>
            <div class="grid root">
                <div class="top">
                    <h3 class="text-xl font-bold">{{ .Page.Params.Parted.Info.Top.Lead }}</h3><hr>
                    <p class="text-lg">{{ .Page.Params.Parted.Info.Top.Desc }}</p>
                </div>
                <div class="mid">
                    <h3 class="text-xl font-bold">{{ .Page.Params.Parted.Info.Mid.Lead }}</h3><hr>
                    <p class="text-lg">{{ .Page.Params.Parted.Info.Mid.Desc }}</p>

                </div>
                <div class="low">
                    <h3 class="text-xl font-bold">{{ .Page.Params.Parted.Info.Low.Lead }}</h3><hr>
                    <p class="text-lg">{{ .Page.Params.Parted.Info.Low.Desc }}</p>
                </div>
            </div>
        </div>
    </div>
</div>