main{

    margin: 5rem 0;
    #main-2, #goal .leaf, #reqs .leaf, #info .leaf, .wrap{
        display: grid;
        grid-template-columns: 100%;
    }

    #main-2, .wrap{
        justify-content: space-between;
        align-content: baseline;
        grid-gap: 2rem;
    }

    #goal .leaf, #reqs .leaf, #info .leaf{
        grid-gap: 2rem;
    }

    .number,  .struct {
        display: grid;
        align-items: center;
        justify-items: center;
        background-color: var(--background-02);
    }

    .number{
        width: 1.75rem;
        height: 1.75rem;
        min-width: 1.75rem;
    }

    .struct{
        width: 2.25rem;
        height: 2.25rem;
        min-width: 2.25rem;
    }
}

@media only screen and (min-width: 480px) {

    main{
        #main-2{
            #goal, #info {
                .leaf{
                    grid-template-columns: repeat( 2, calc( 50% - 1rem ));
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    
    main{

        #main-1{
            max-width: 680px;
            width: 680px;
            margin: 0 auto;
        }

        #main-2{
            grid-template-columns: repeat( 2, calc( 50% - 2rem ));

            #info{
                grid-column: 1 / span 2;
            }

            #goal, #info {
                .leaf{
                    grid-template-columns: 100%;
                }
            }

            #info {
                .leaf{
                    grid-template-columns: repeat( 3, calc( 33.333% - 1rem ));
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    
    main{
        #main-2{
            grid-template-columns: repeat( 3, calc( 33.333% - 2rem ));

            #info{
                grid-column: 1;
            }

            #goal, #info, #reqs {
                .leaf{
                    grid-template-columns: 100%;
                }
            }

            #goal{
                grid-column: 3;
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    
    main{

        .wrap{
            grid-template-columns: 340px calc( 100% - 340px - 6% );
        }

        #main-1{
            grid-column: 2;
            grid-row: 1;
        }

        #main-2{
            grid-template-columns: 100%;
            grid-column: 1;
            grid-row: 1;

            #goal .leaf, #reqs .leaf, #info .leaf{
                grid-gap: 1.25rem;
            }

            #info, #goal{
                grid-column: 1;
            }
        }
    }
}

@media only screen and (min-width: 1536px) {

}