#landing #info {
    display: none;

    .low, .mid, .top {
        width: 100%;
    } 

    h2{
        margin-bottom: 1rem;
    }

    img{
        width: 100%;
    }
}



@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    
    #landing #info{
        display: block;
        .mid{
            display: none;
        }
    }
}

@media only screen and (min-width: 1024px) {
    
    #landing #info{
        .mid{
            display: block;
        }
    }
}

@media only screen and (min-width: 1280px) {
    


}

@media only screen and (min-width: 1536px) {

}