.list {

    .card{
        background-color: var(--background-02);
    }

    p {
        display: none;
    }
}


@media only screen and (min-width: 480px) {

    #landing .list{

        h2{
            font-size: 1.1rem;
            text-wrap: nowrap;
        }

        .info{
            display: flex;
        }

        p {
            display: block;
        }
    }
}

@media only screen and (min-width: 768px) {
    
    #landing .list {

        h2{
            font-size: 1.15rem;
        }

        p {
            display: block;
        }
    }
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1280px) {
    
    #landing .list {
        h2 {
            font-size: 1.35rem;
        }
    }
}

@media only screen and (min-width: 1536px) {

}