#landing #team{
    display: none;
}


@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    
    #landing #team{

        .list{
            display: flex;
        }

        .flex{
            margin-right: 3rem;
        }
    }
}

@media only screen and (min-width: 1024px) {
    
    #landing #team{
        display: block;
        
        .list{
            display: block;
        }

        .flex{
            margin-right: 0;
        }
    }

}

@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1536px) {

}