#course footer,
#course header{
	background-color: var(--coln-02);
}

#course .tabs-item{
	position: fixed;
	width: 0;
	height: 0;
	overflow: hidden;
	display: block;
	transition: 100ms;
}

#course .tabs-item.open{
	position: relative;
	width: 100%;
	height: 100%;
	transition: 100ms;
}

#course .tab-action,
#course .tab-action:hover{
	cursor: pointer;
}



#course #hero .organon{
    width: 80%;
    overflow: hidden;
    margin: -4rem auto 0 auto;
}

#course #hero .profile{
    width: 6rem;
    overflow: hidden;
    border: .8rem solid var(--coln-01);
    z-index: 2;
    position: relative;
}

#course #hero .liner{
    overflow: hidden;
}

#course #team .image{
    width: 48px;
    height: 48px;
    overflow: hidden;
}

#course #team .image img{
    width: 48px;
    height: 48px;
    object-fit: cover;
    overflow: hidden;
}


#course #hero img{
	width: 100%;
}

#hero.feature .meta{
	display: grid;
	align-content: space-between;
}

#hero.feature .love .button svg{
	margin-right: 0;
}

#hero.feature .top .box{
	padding: 2px 15px;
} 