#plan{
    width: 85%;
    height: calc( 100vh - 100px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0px;
    }

    .overlay{
        padding: 2rem;
        background: var(--background-01);
        min-height: calc( 100vh - 100px - 4rem );
        border-right: 1px solid var(--line-01);
    }
  
    .leaf{
        .close{
            height: 0;
            opacity: 0;
            z-index: -1;
            position: fixed;
            overflow: hidden;
            transition: 200ms;
        }

        .parted{
            transition: 200ms;
        }
    }

    .card-plan{

        color: var(--color-02);

        h3{
            color: var(--color-01);
        }

        p{
            margin-left: 1rem;
            padding-left: 2rem;
            border-left: 1px solid var(--link-02-based);
        }

        .icon{ 
            color: var(--link-02-based);
        }
    }  
}



@media only screen and (min-width: 480px) {
    #plan{
       width: 420px;
    }
}

@media only screen and (min-width: 768px) {
    
    #plan{
        width: 50%;
    }

}

@media only screen and (min-width: 1024px) {
    
    #plan{
        width: 100%;
        height: calc( 100vh - 50px);

        .overlay{
            background-color: var(--background-02);
            min-height: calc( 100vh - 50px - 4rem );
        }
    }
}

@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1536px) {

}