{{ $period := slice }}{{ range .Parent.Pages.ByWeight }}{{ $period = $period | append .Page.Params.Period }}{{ end }}
{{ $current := .Page.Params.Period }}
{{ $unique := .Page.Params.Title | urlize }}


  
<div id="plan" class="mb-60">
    <div class="flex center-x mb-150">
        <h3 class="font-light text-2xl mr-10"> Session {{.Page.Params.Period }} | </h3>
        <h1 class="font-light text-xl upper"> Another Module </h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">

            <h3 class="text-md uppercase text-md text-gray-400"> Module </h3>
            <hr class="mb-20">
            {{ range .Parent.Pages }}
            {{ if  and (   eq .Page.Params.Period $current  ) ( eq .Page.Params.Format.Type "material" ) }}
            {{ if ne  ( .Title | urlize ) $unique  }}
            
                <a href="{{ .RelPermalink }}" class="flex center-x mb-10 active">
                    <div class="info">
                        <div class="name flex center-x">
                            <div class="icon lg">{{ partial "icon/line/folder.svg" }}</div>
                            <h3 class="capitalize text-lg mb-15">{{ .LinkTitle }}</h3>
                        </div>
                        <p class="mt-00 text-gray-400"> {{ .Page.Params.Lead }}</p>
                    </div>
                </a>

            {{ end }}
            {{ end }}
            {{ end }}
        </div>
        <div class="col-xs-12 col-md-6">
            
            <h3 class="text-md uppercase text-md text-gray-400"> Assignment </h3>
            <hr class="mb-20">
            {{ range .Parent.Pages }}
            {{ if  and (  eq .Page.Params.Period $current  ) ( eq .Page.Params.Format.Type "assignment" )  }}
            {{ if ne ( .Title | urlize ) $unique  }}
                <a href="{{ .RelPermalink }}" class="flex center-x mb-10 active">
                    <div class="info">
                        <div class="name flex center-x">
                            <div class="icon md">{{ partial "icon/line/edit.svg" }}</div>
                            <h3 class="capitalize text-lg mb-15">{{ .LinkTitle }}</h3>
                        </div>
                        <p class="mt-00 text-gray-400"> {{ .Page.Params.Lead }}</p>
                    </div>
                </a>
            {{ end }}
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>
    
