{{- $page := partial "lib/queries/pool-item-in-term.html" . -}}
{{- $card := "course/module/node/main//part/vert-card.html" -}}
{{- $list := .Paginate ($page) 12 -}}

<div id="list" class="mb-60">
    <div class="head mb-60">
        <div class="flex border-bottom">
            <div class="flex center-x">
                <div class="icon md pt-10">{{- partial "icon/line/layers.svg" -}}</div>
                <h2 class="lead text-lg mt-10 border-left mb-00 pb-10 pl-10"> Explore {{ .Title }} Course </h2>
            </div>
            <h2 class="lead text-md mt-10 ml-a"> Current page {{ ( .Paginate ($list) 2 ).PageNumber }}</h2>
        </div>
    </div>
	<div class="leaf">
		{{- range  $list.Pages -}}
            {{ partial $card . }}
		{{- end -}}
	</div>
	<div class="paginate">{{- partial "pagination.html" . -}}</div>
</div> 