{{- $list := partial "lib/queries/pool-item-in-term.html" . -}}


<div id="list" class="mb-60">
    <div class="head">
        <div class="flex">
            <h2 class="lead text-lg mt-10"> Explore {{ .Title }} Course </h2>
            <h2 class="lead text-lg mt-10 ml-a"> Current page {{ ( .Paginate ($list) 2 ).PageNumber }}</h2>
        </div>
    </div>
	<div class="divider">
		{{- range ( .Paginate ($list) 2 ).Pages -}}
		<div class="course">
            <a href="{{ .RelPermalink }}" class="card rounded-lg">
                <div class="thumb">{{- partial "course/module/node/main/part/thumb-list.html" . -}}</div>
                <div class="metas">
                    <h2 class="text-md font-bold title mb-20">{{ .Title }}</h2>
                    <div class="meta center-x text-sm capitalize mb-05">
                        <div class="box level">
                            {{- .Page.Params.Module.Plan.Level -}}
                        </div>
                        <div class="box session">
                            {{- partial "lib/course/count-material.html" . -}} <span class="ml-05">Session</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
		{{- end -}}
	</div>
	<div class="paginate">{{- partial "pagination.html" . -}}</div>
</div> 