@import "../../../../../core/css/flexs/_init.scss";
@import "../../../../../core/css/flexs/col-12.scss";
@import "../../../../../core/css/flexs/col-06.scss";
@import "../../../../../core/css/flexs/col-07.scss";
@import "../../../../../core/css/flexs/col-04.scss";


img{
	width: 100%;
	object-fit: cover;
	overflow: hidden;
}

header{
	margin-bottom: 5rem;
    height: 3.5rem;
    background-color: var(--background-02);
}

@media only screen and (min-width: 768px) {
	#course #hero img{
		height: 100%;
	}
}



@media only screen and (min-width: 1024px) {
	#hero{
		margin-bottom: 3.5rem;
	}
}