@import "../../../../../core/css/wrap/m-00.scss";
@import "../../../../../core/css/wrap/m-10.scss";
@import "../../../../../core/css/wrap/m-20.scss";
@import "../../../../../core/css/wrap/m-40.scss";
@import "../../../../../core/css/wrap/m-30.scss";
@import "../../../../../core/css/wrap/m-60.scss";
@import "../../../../../core/css/wrap/m-70.scss";
@import "../../../../../core/css/wrap/p-05.scss";
@import "../../../../../core/css/wrap/p-10.scss";


main{
    margin-top: 3rem;
}


#hero{

	.card{
		grid-template-columns: repeat(2, calc( 50% - 1rem ) );
		grid-gap: 1rem;
	}

	.title .img{
		background-color: var(--background-02);
	}

	.title img{
		height: auto;
	}

	.share svg{
		margin-right: 0;
	}
}


#info{
	.leaf{
		grid-template-columns: repeat(2, calc( 50% - 1rem ) );
	}
}


#tabs{
	.head{
		grid-template-columns: repeat(3, calc( 33.333% - 1rem ) );
	}
}


#plan{

	.icon{
		display: none;
	}

	.desc{
		flex-wrap: wrap;
	}

	h4{
		width: 100%;
		margin-bottom: 10px;
	}
}


@media only screen and (min-width: 480px) {

	
}


@media only screen and (min-width: 620px) {

	#task{
		.leaf{
			grid-template-columns: repeat(2, calc( 50% - 1rem ) );
			grid-gap: 1rem;
		}
	}

	#team{
		.leaf{
			grid-template-columns: repeat(2, calc( 50% - 1rem ) );
			grid-gap: 1rem;
		}
	}
}


@media only screen and (min-width: 768px) {
	
	#hero{
		.info{
			display: grid;
			grid-template-columns: 30% 70%;

			p{
				margin-top: 0;
			}
		}

		.tablet{
			.card {
				grid-template-columns: repeat(4, calc( 25% - 1rem ) );
				grid-gap: 1rem;
			}
		}
	}	


	#plan{
		grid-template-columns: repeat(2, calc( 50% - 1rem ) );
		grid-gap: 2rem;
		
		h4{
			margin-bottom: 0;
			width: auto;
		}

		.desc{
			flex-wrap: nowrap;
			h4{
				text-wrap: nowrap;
			}
		}

		.item{
			align-items: flex-start;
		}
	}
}


@media only screen and (min-width: 810px) {
	

	#task{
		.leaf{
			grid-template-columns: repeat(3, calc( 33.333% - 1rem ) );
		}
	}

	#team{
		.leaf{
			grid-template-columns: repeat(3, calc( 33.333% - 1rem ) );
			grid-gap: 1rem;
		}
	}


}


@media only screen and (min-width: 920px) {

}


@media only screen and (min-width: 1024px) {


	#slot{
		grid-template-columns: 31% calc(69% - 6rem);
		grid-gap: 6rem
	}


	#hero{
		grid-template-columns: calc( 60% - 2rem ) calc( 40% - 2rem ) ;
		grid-gap: 4rem;

		.info{
			grid-template-columns: 100%;

			p{
				margin-top: 0;
			}
		}

		.tablet{
			.card {
				grid-template-columns: repeat(2, calc( 50% - 1rem ) );
				grid-gap: 1rem;
			}
		}
	}	


	#plan{
		grid-template-columns: auto;

		.desc{
			align-items: center;
		}
		.icon{
			display: flex;
		}

		.item{
			align-items: center;
		}
	}

	
	#task{
		.leaf{
			grid-template-columns: repeat(2, calc( 50% - 1rem ) );
			grid-gap: 1rem;
		}
	}


	#team{
		.leaf{
			grid-template-columns: repeat(2, calc( 50% - 1rem ) );
		}
	}
}


@media only screen and (min-width: 1280px) {

	main{
		margin-top: 5rem;
	}


	#team{
		.leaf{
			grid-template-columns: repeat(3, calc( 33% - 1rem ) );
			grid-gap: 1rem;
		}
	}


	#desc{
		grid-template-columns: 31% calc(69% - 6rem);
		grid-gap: 6rem
	}
}


@media only screen and (min-width: 1536px) {
	
	
}