@import "../../../../../core/css/wrap/m-00.scss";
@import "../../../../../core/css/wrap/m-10.scss";
@import "../../../../../core/css/wrap/m-20.scss";
@import "../../../../../core/css/wrap/m-40.scss";
@import "../../../../../core/css/wrap/m-30.scss";
@import "../../../../../core/css/wrap/m-60.scss";
@import "../../../../../core/css/wrap/m-70.scss";
@import "../../../../../core/css/wrap/p-05.scss";
@import "../../../../../core/css/wrap/p-10.scss";



main{
    margin-top: 5rem;
}


#desc{
	grid-template-columns: 31% calc(69% - 6rem);
	grid-gap: 6rem
}


#hero{
	grid-template-columns: calc( 60% - 2rem ) calc( 40% - 2rem ) ;
	grid-gap: 4rem;

	.card{
		grid-template-columns: repeat(2, calc( 50% - 1rem ) );
		grid-gap: 1rem;
	}
}


#info{
	.leaf{
		grid-template-columns: repeat(2, calc( 50% - 1rem ) );
	}
}


#tabs{
	.head{
		grid-template-columns: repeat(3, calc( 33.333% - 1rem ) );
	}
}


#task{
	.leaf{
		grid-template-columns: repeat(2, calc( 50% - 1rem ) );
		grid-gap: 1rem;
	}
}


#team{
	.leaf{
		grid-template-columns: repeat(3, calc( 33% - 1rem ) );
		grid-gap: 1rem;
	}
}