#task{
    #div1{
        margin-bottom: 3rem;
    }
}

.hide{
    display: none;
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}


@media only screen and (min-width: 1280px) {

    #task{
        margin-bottom: 10rem;

        #div1{
            margin-bottom: 0rem;
        }

        #div2{
           display: flex;

           .side{
                width: 250px;
            }
           .page{
                width: calc( 100% - 250px );
            }
        }
    }
}


@media only screen and (min-width: 1536px) {

}