{{- $part := partial "lib/pather/module-part.html" . -}}

{{- $data := partial "lib/course/query/page-item-with-term.html" . -}}


<div id="rels">
    <div class="head mb-40">
        <div class="flex border-bottom">
            <div class="icon md border-right mr-10 pr-10 pt-10">
                {{- partial "lib/icon" "columns" -}}
            </div>
            <h2 class="text-md font-bold uppercase mt-00 mb-00 pb-10 pt-10">{{ T "furthr_head_lead" }}</h2>
        </div>
    </div>
    <div class="leaf">
        {{- range $index, $value := $data -}}
            <a href="{{ .RelPermalink }}" class="card flex mb-30">
                <div class="number text-lg border-all rounded-md flex center-x center-y">
                    {{- math.Sum $index 1 -}}
                </div>
                <h2 class="text-lg mb-00 mt-00 ml-20">{{ .Title }} </h2>
            </a>
        {{- end -}}
    </div>
</div>