@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}
 
@media only screen and (min-width: 1280px) {
    
    #div3 {
        display: grid;
        grid-template-columns: calc( 30% - 7rem ) calc( 30% - 7rem ) 35%;
        grid-gap: 7rem;
    }
}


@media only screen and (min-width: 1536px) {
}