{{- $part := partial "lib/pather/module-part.html" . -}}
{{- $paid := printf "%s/price-paid-card.html" $part  -}}
{{- $open := printf "%s/price-open-card.html" $part  -}}
{{- $feat := printf "%s/hero-thumbnails.html" $part  -}}
{{- $data := partial "lib/course/group/item-pool-team.html" . -}}


<div id="hero" class="mb-60">
    <div class="head">{{- partial $feat . }}</div>
    <div class="leaf">
         <div class="mt-30 mb-30">
            <div class="thumb border-all rounded-lg mr-20 pa-05">
               {{- range first 1 $data -}}{{- partial "parted/avatar/group-48.html" . -}}{{- end -}}
            </div>
            <div class="texts">
                <div class="named flex center-x">
                    <span class="capitalize text-lg text-sm">{{ T "parted_hero_prov" }}</span>
                    {{- range first 1 $data -}}
                        <h2 class="uppercase font-bold text-md ml-10 mt-00 mb-00">{{- .Title -}}</h2>
                    {{- end -}}
                </div>
                <div class="action flex center-x">
                   {{- cond ( eq .Params.billing.price "" ) ( partial $open . ) ( partial $paid . ) -}}
                </div>
            </div>
        </div>
    </div>
</div>