{{- $ctx  := . -}}{{- $site := $ -}}

<div id="hero" class="mb-60">
    <div class="head">
        {{- partial "course/module/item/mile/part/thumb-feature.html" . }}
    </div>
    <div class="leaf">
        <div class="mb-20">
            {{- partial "lib/course/hero-group.html" . -}}
        </div>
        <div class="mt-10 mb-20">
            <div class="thumb border-all rounded-lg mr-20 pa-05">
                {{- partial "course/module/item/mile/part/thumb-group.html" (dict  "ctx" $ctx "site" $site "name" .Page.Params.Parted.Team.Name ) -}}
            </div>
            <div class="texts">
                <div class="named flex center-x">
                    <span class="capitalize text-lg text-sm">{{ T "parted_hero_prov" }}</span>
                    <h2 class="uppercase font-bold text-md ml-10 mt-00 mb-00">{{- .Page.Params.Parted.Team.Name -}}</h2>
                </div>
                <div class="action flex center-x">
                    {{- if .Page.Params.Parted.Paid.Data.Price -}}
                    {{- partial "course/module/item/mile/view/paid.html" . -}}
                {{- else -}}
                    {{- partial "course/module/item/mile/view/open.html" . -}}
                {{- end -}}
                </div>
            </div>
        </div>
    </div>
</div>