<div id="need" class="mb-60">
    <div class="head mb-15">
        <h2 class="title text-md uppercase font-bold font-light mt-00 mb-00">Requirement</h2>
    </div>
    <hr class="mb-40">
    <div class="leaf grid">
        {{- range .Page.Params.Module.Requirement -}}
        <div class="flex center-x mb-30">
            <div class="icon md mr-20">
                {{- partial "icon/line/check-circle.svg" -}}
            </div>
            <p class="mb-00 mt-00 ml-15">{{ . }}</p>
        </div>
        {{- end -}}
    </div>
</div>