<div id="need" class="mb-60">
    <div class="head mb-15 mb-40">
        {{- if .Params.require.lead -}}
            <h2 class="text-md uppercase font-bold mt-00 mb-00">{{ .Page.Params.Parted.Need.Lead }}</h2>
        {{- else -}}
            <h2 class="text-md uppercase font-bold mt-00 mb-00">{{ T "parted_need_lead" }}</h2>
        {{- end -}}
    </div>
    <div class="leaf grid">
        {{- range .Params.require.data -}}
        <div class="flex mb-30">
            <div class="icon sm mr-15">
                {{ $icon :=  printf "icon/line/check-circle.svg" }}
                {{ with .icon }} {{ $icon = . }}{{ end }}
                {{- partial $icon -}}
            </div>
            <div class="text border-left">
                <h3 class="uppercase text-sm font-bold mb-05 mt-00 pl-20">{{ .name }}</h3>
                <hr>
                <p class="text-sm mb-00 mt-00 pl-20">{{ .desc }}</p>
            </div>
        </div>
        {{- end -}}
    </div>
</div>