{{- $part := partial "lib/pather/module-part.html" . -}}
{{- $time := printf "%s/node-time-card.html" $part -}}
{{- $user := printf "%s/node-team-card.html" $part -}}
{{- $page := partial "lib/course/query/pool-item-all-kind.html" . -}}


<div id="node">
    <div class="subhead border-bottom flex center-x mb-20">
        <div class="icon md mr-15 border-right pa-05">{{- partial "icon/line/layers.svg" -}}</div>
        <h2 class="text-md uppercase font-bold mt-00 mb-00 pr-20">{{ T "parted_node_lead" }}</h2>
        <div class="boxtab flex center-x ml-a">
            {{ range $page.node }}{{ $uniq := ( .Title | urlize )  }}
            <div id="info-{{ $uniq }}-action" data-target="tabs-page-group-{{ $uniq }}" class="node-action tab-action flex center-x open ml-15">
                <p class="text-sm font-bold uppercase"><span class="tablet">{{ .Title }}</p>
            </div>
            {{ end }}
        </div>
    </div>
    <div class="subleaf">
        {{- range $index, $value := $page.node -}}{{- $uniq := ( .Title | urlize ) -}}
        <div id="tabs-page-group-{{ $uniq }}" class="node-item tabs-item {{ with eq $index 0 }}open{{ end }}">
            <div class="quota mb-20 mt-30 flex center-x">
                <div class="li-head">
                    <h3 class="text-md font-bold uppercase mt-00 mb-00">{{ .Title  }}</h3>
                </div>
                <div class="flex center-x ml-a">
                    <h3 class="text-sm uppercase mt-00 mb-00">{{ T "parted_node_caps" }}</h3>
                    <h3 class="text-sm uppercase font-bold mt-00 mb-00 ml-20">{{ .Params.quota }} {{ T "parted_node_seat" }}</h3>
                </div> 
            </div>
            <div class="timer">
                {{- $enroll := ( dict "name" "enroll" "start"  .Params.enroll.start  "close" .Params.enroll.close  ) -}}
                {{- $sessio := ( dict "name" "session" "start" .Params.session.start "close" .Params.session.close ) -}}
                {{- partial $time $enroll -}}
                {{- partial $time $sessio -}}
            </div>
            <div class="tutor">
                {{- partial $user . -}}
            </div>
        </div>
        {{- end -}}
    </div>
</div>