<div id="paid" class="mb-40">
    <div class="flex mb-20">
        <h2 class="text-4xl uppercase font-bold mt-00 mb-00 flex center-x">
            {{ .Page.Params.Module.Paid.Prices }}<span class="text-xl font-light ml-10">USD</span> 
        </h2>
        <a href="#" class="button flex center-x ml-a">
            <div class="icon md">
                {{ partial "icon/line/shopping-bag.svg" }}
            </div>
            <div class="text-md font-bold">Enroll</div>
        </a>
        <div class="share ml-20">
            <div class="icon md button outline flex center-x mr-00" title="share course">
                {{- partial "icon/line/share-2.svg" -}}
            </div>
        </div>
    </div><hr>
</div>