{{ $label := "lib/pricing/get-currentcy-label.html" . }}

<div id="take">
    <div class="flex center-x">
        <h2 class="text-4xl uppercase font-bold mt-00 mb-00 flex center-x">
            {{- .Params.offers.price -}}<span class="text-xl uppercase font-light ml-10">{{ $label }}</span> 
        </h2>
        <div class="checkout ml-40">
            {{- range first 1 .Pages -}}
            <a href="{{ .RelPermalink }}" class="button outline flex center-x">
                <div class="icon sm">{{ partial "icon/line/shopping-bag.svg" }}</div>
                <div class="capitalize text-sm font-bold">{{ T "parted_take_paid" }}</div>
            </a>
            {{- end -}}
        </div>
        <div class="sharing flex center-x ml-20">
            <div class="button outline icon sm">{{- partial "icon/line/share-2.svg" -}}</div>
        </div>
    </div>
</div>