{{- $part :=  partial "lib/pather/module-part.html" . -}}
{{- $stat := printf "%s/stat-stat-card.html" $part  -}}

{{ $cert := partial "lib/course/datum/item-stat-certs.html" . }}
{{ $leve := partial "lib/course/datum/item-stat-level.html" . }}

<div id="stat" class="mb-60">
    <div class="head mb-40">
        {{- if .Page.Params.Parted.Info.Lead -}}
            <h2 class="text-md uppercase font-bold mt-00 mb-00">{{ .Page.Params.Parted.Stat.Lead }}</h2>
        {{- else -}}
            <h2 class="text-md uppercase font-bold mt-00 mb-00">{{ T "parted_stat_lead" }}</h2>
        {{- end -}}
    </div>
    <div class="leaf grid border-all rounded-lg mb-40">
        <div class="flex center-x border-right pa-05">
            <div class="icon md text-white">
                {{ partial "icon/line/bar-chart-2.svg" }}
            </div>
            <div class="meta">
                <div class="capitalize text-sm mb-00">{{ T "level" }}</div>
                <div class="capitalize text-sm text-white font-bold">{{- $leve -}}</div>
            </div>
        </div>
        <div class="flex center-x pa-05">
            <div class="icon md text-white">
                {{ partial "icon/line/award.svg" }}
            </div>
            <div class="meta">
                <div class="capitalize text-sm mb-00">{{ T "certificate" }}</div>
                <div class="capitalize text-sm text-white font-bold">{{- $cert -}}</div>
            </div>
        </div>
    </div>
    <div class="info grid">
        {{- $module := ( dict "name" ( T "module_stat_lead" ) "desc" ( T "module_stat_desc" ) "sums" ( partial "lib/course/datum/item-sums-repo.html"  . ) ) -}}
        {{- $asigne := ( dict "name" ( T "assign_stat_lead" ) "desc" ( T "assign_stat_desc" ) "sums" ( partial "lib/course/datum/item-sums-test.html" . ) ) -}}
        {{- $sesion := ( dict "name" ( T "sesion_stat_lead" ) "desc" ( T "sesion_stat_desc" ) "sums" ( partial "lib/course/datum/item-sums-meet.html"  . ) ) -}}
        {{- $proyek := ( dict "name" ( T "proyek_stat_lead" ) "desc" ( T "proyek_stat_desc" ) "sums" ( partial "lib/course/datum/item-sums-task.html"  . ) ) -}}
        {{- range ( slice $module $asigne $sesion $proyek) -}}
            {{- partial $stat . -}}
        {{- end -}}
    </div>
</div>
