{{ if .Page.Params.Module.Paid.Charge }}
    {{- partial "module/course/item/mile/view/paid.html" . -}}
{{ end }}
<div id="take" class="mb-60">
    <div class="header flex center-x mb-40">
        <h2 class="title text-md uppercase font-bold font-light mt-00 mb-00">Information</h2>
        {{ if eq .Page.Params.Module.Paid.Charge "" }}{{- range first 1 .Pages -}}
        <a href="{{ .RelPermalink }}" class="flex center-x ml-a borderl-left pl-10">
            <div class="text-md font-bold">Take Course</div>
            <div class="icon md rounded-full border-all ml-20">{{- partial "icon/line/arrow-right.svg" -}}</div>
        </a>
        {{- end -}}{{- end -}}
    </div>
    <div class="capsul border-all flex rounded-lg mb-40">
        <div class="flex center-x pa-05">
            <div class="icon md text-white">
                {{ partial "icon/line/bar-chart-2.svg" }}
            </div>
            <div class="meta">
                <div class="capitalize text-sm mb-00">Dificulty</div>
                <div class="capitalize text-sm text-white font-bold">{{- .Page.Params.Module.Plan.Level -}}</div>
            </div>
        </div>
        <div class="flex center-x pa-05 border-left">
            <div class="icon md text-white">{{- partial "icon/line/award.svg" -}}</div>
            <div class="meta">
                <div class="capitalize text-sm mb-00"> Certificate </div>
                <div class="capitalize text-sm text-white font-bold">
                    {{- if .Page.Params.Module.Plan.Certificate -}}
                        {{- .Page.Params.Info.Certificate -}} 
                    {{- else -}} 
                        None 
                    {{- end -}} 
                </div>
            </div>
        </div>
    </div>
    <div class="inform grid">
        <div class="flex center-x mb-20">
            <div class="count font-md text-3xl mr-20">
                {{- partial "lib/course/count-material.html"  . -}}
            </div>
            <div class="text">
                <div class="uppercase font-bold text-xs text-gray-500"> Learning </div>
                <div class="text-md">Material</div> 
            </div>
        </div>
        <div class="flex center-x mb-20">
            <div class="count font-md text-3xl mr-20">
                {{- partial "lib/course/count-assigment.html" . -}}
            </div>
            <div class="text">
                <div class="uppercase font-bold text-xs text-gray-500"> Active </div>
                <div class="text-md">Assigment</div> 
            </div>
        </div>
        <div class="flex center-x mb-20">
            <div class="count font-md text-3xl mr-20">
                {{- partial "lib/course/count-periodic.html"  . -}}
            </div>
            <div class="text">
                <div class="uppercase font-bold text-xs text-gray-500"> Total </div>
                <div class="text-md">Session</div> 
            </div>
        </div>
        <div class="flex center-x mb-20">
            <div class="count font-md text-3xl mr-20">
                {{- partial "lib/course/count-projects.html"  . -}}
            </div>
            <div class="text">
                <div class="uppercase font-bold text-xs text-gray-500"> Project </div>
                <div class="text-md">Sandbox</div> 
            </div>
        </div>
    </div>
</div>

