{{- $part := partial "lib/pather/module-part.html" . -}}
{{- $task := printf "%s/task-task-card.html" $part -}}
{{- $test := printf "%s/task-test-card.html" $part -}}

<div class="task mb-20">
    <hr class="mt-00 mb-15">
    <div class="head flex mb-40">
        <div class="icon sm droptask" data-target="droptask-{{ .session }}">{{ partial "lib/icon" "plus" }}</div>
        <div class="desc text-md mb-00 mt-00 border-left pl-15">{{ .page.Params.tasker.desc }}</div>
    </div>
    <div id="droptask-{{ .session }}" class="leaf grid takstabs">
        {{ cond ( .task ) ( partial $task . ) "" }}
        {{ cond ( .test ) ( partial $test . ) "" }}
    </div>
</div>