#page{
    margin: 5rem 0;
    
}
@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1280px) {

    #page{
        margin: 5rem 0 7rem 0;

        .grider{
            grid-template-columns: 330px ( calc( 100% - 330px ) ) ;
            grid-gap: 5rem 0;
        }

        #main-1{
            grid-column: 1;
            grid-row: 1;
        }

        #main-2{
            grid-column: 2;
            grid-row: 1 / span 3;
           
        }

        #main-3{
            grid-column: 1;
            grid-row: 2;
        }
    }
}


@media only screen and (min-width: 1536px) {

}