@media only screen and (min-width: 480px) {
}


@media only screen and (min-width: 768px) {
}


@media only screen and (min-width: 1024px) {

	#main-2{

        .wrap{
            display: grid;
            grid-template-columns: calc( 37% - 6rem ) 63%;
		    grid-gap: 6rem;
        }

		.side{
            grid-column: 1;
			grid-row: 1; 
		}

		.main{
			grid-column: 2;
			grid-row: 1; 
		}
	}
}


@media only screen and (min-width: 1280px) {

    #main-2{
        .wrap{
            grid-template-columns: calc( 37% - 7rem ) 63%;
            grid-gap: 7rem;
        }
    }
}


@media only screen and (min-width: 1536px) {
}