#hero {
    margin: auto;
    display: grid;
    min-height: 60vh;
    align-content: center;
    justify-content: center;

    .rows{
        grid-template-columns: 100%;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 2rem;
    }

    .thumb{
        img{
            width: 300px;
            height: 100%;
            margin: auto;
        }
    }

    .leads{

        h1{
            text-align: center;
            font-size: 1.6rem;
        }
    }
}


@media only screen and (min-width: 480px) {

    #hero{
        grid-template-columns: 92%;
        min-height: 86vh;

        .thumb{
            img{
                width: 420px;
            }
        }

        .leads{
            h1{
                font-size: 2rem;
            }
        }        
    }
}


@media only screen and (min-width: 768px) {
    
    #hero{

        min-height: 86vh;
        grid-template-columns: calc( 100% - 440px - 2rem ) 440px;
        align-items: center;
        margin-bottom: 0rem;


        .leads{
            grid-column: 1;
            grid-row: 1;

            h1{
                text-align: left;
                font-size: 2rem;
            }
        }

        .thumb{
            grid-column: 2;
            grid-row: 1;

            img{
                width: 440px;
            }
        }
    }
}


@media only screen and (min-width: 1024px) {
    
    
    #hero{
        grid-template-columns: calc( 100% - 520px - 2rem ) 520px;

        .thumb{
            img{
                width: 520px;
            }
        }

        .leads{
            h1{
                font-size: 2.2rem;
            }
        }
    }
}


@media only screen and (min-width: 1280px) {  
    
    #hero{
        grid-template-columns: calc( 100% - 560px - 15%) 560px;

        .thumb{
            img{
                width: 560px;
            }
        }

        .leads{
            h1{
                font-size: 2.5rem;
            }
        }
    }
}


@media only screen and (min-width: 1536px) {
    #hero{

        .leads{
            h1{
                font-size: 2.9rem;
            }
        }
    }
}