#hero {
    margin: auto;
    display: grid;
    min-height: 60vh;
    align-items: center;
    justify-content: center;

    .rows{
        grid-template-columns: 100%;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .thumb{
        img{
            width: 320px;
            margin: auto;
        }
    }

    .leads{

        h1{
            text-align: center;
            font-size: 2.2rem;
        }
    }
}


@media only screen and (min-width: 480px) {

    #hero{

        .thumb{
            img{
                width: 340px;
            }
        }

        .leads{
            h1{
                font-size: 2.25rem;
            }
        }        
    }
}


@media only screen and (min-width: 768px) {
    
    #hero{

        .rows{
            grid-template-columns: calc( 100% - 380px - 2rem ) 380px;
            margin-bottom: 0rem;
        }

        .leads{
            grid-column: 1;
            grid-row: 1;
        }

        .thumb{
            grid-column: 2;
            grid-row: 1;

            img{
                width: 380px;
            }
        }

        .leads{
            h1{
                text-align: left;
                font-size: 2.2rem;
            }
        }
    }
}


@media only screen and (min-width: 1024px) {
    
    
    #hero{
        min-height: 85vh;
        
        .rows{
           grid-template-columns: calc( 100% - 420px - 2rem ) 420px;
        }

        .thumb{
            img{
                width: 420px;
            }
        }

        .leads{
            h1{
                font-size: 2.5rem;
            }
        }
    }
}


@media only screen and (min-width: 1280px) {  
    
    #hero{
        width: 80%;
        .rows{
            grid-template-columns: calc( 100% - 460px - 2rem ) 460px;
        }

        .thumb{
            img{
                width: 460px;
            }
        }

        .leads{
            h1{
                font-size: 2.7rem;
            }
        }
    }
}


@media only screen and (min-width: 1536px) {
    #hero{
        .rows{
            grid-template-columns: calc( 100% - 520px - 2rem ) 520px;
        }

        .thumb{
            img{
                width: 520px;
            }
        }

        .leads{
            h1{
                font-size: 2.9rem;
            }
        }
    }
}