.lori{

    .head{
        .desc{
            font-size: 1.05rem;
            line-height: 1.5;
        }
    }

    .leaf{
        grid-gap: 2rem 0;
    }
}


@media only screen and (min-width: 480px) {

     .lori{
        .leaf{
            grid-gap: 2.5rem 0;
        }
    }
}


@media only screen and (min-width: 768px) {

    .lori{

        .leaf{
            grid-template-columns: repeat(auto-fill, 225px);
            grid-gap: 3rem 0;
        }
    }
}


@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1280px) {

    .lori{
        grid-template-columns: 360px calc( 100% - 360px - 3.5rem );

        .leaf{
            grid-template-columns: repeat(auto-fill,235px);
            grid-gap: 3rem;
        }
    }
}


@media only screen and (min-width: 1536px) {

}