@import "../../../../../core/css/flexs/_init.scss";
@import "../../../../../core/css/flexs/col-12.scss";
@import "../../../../../core/css/flexs/col-06.scss";
@import "../../../../../core/css/flexs/col-07.scss";
@import "../../../../../core/css/flexs/col-04.scss";
@import "../../../../../core/css/flexs/col-03.scss";
@import "../../../../../core/css/flexs/col-08.scss";

header{
	margin-bottom: 2rem;
    height: 3.5rem;
    background-color: var(--background-02);
}

@media only screen and(min-width: 1024px) {
    header{
        margin-bottom: 3.5rem;
    }
}

.float-right{
    float: right;
}


.close{
    position: absolute;
    height: 0;
    z-index: -1;
    opacity: 0;
}