#navs{

    margin: 3rem 0;

    .rows{
        grid-template-columns: 50% 50%;
    }

    .next-post{
        padding: 1.3rem 2rem 1.3rem 0rem ;
    }

    .prev-post{
        padding: 1.3rem 0rem 1.3rem 2rem;
    }

    
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1280px) {
    
    #navs{
        h3{
            padding-bottom: 1.25rem;
        }
    }
}

@media only screen and (min-width: 1536px) {

}