#lead{

    .head{
        margin-bottom: 3rem;
    }

    .leaf{
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-between;
    }

    .card{

        img{
            width: 100%;
            height: auto;
        }

        .number{
            width: 1.75rem;
            height: 1.75rem;
            min-width: 1.75rem;
            background-color: var(--background-02);
        }
    }
}


@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1280px) {

    #lead{

        .leaf{
            grid-template-columns: repeat( 3, 30% );
        }
    }
}


@media only screen and (min-width: 1536px) {

}