#lead{

    .head{
        margin-bottom: 2rem;
    }

    .leaf{
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-between;
        grid-gap: 1rem
    }

    .card{

        img{
            width: 100%;
            height: auto;
            display: none;
        }

        .number{
            width: 1.75rem;
            height: 1.75rem;
            min-width: 1.75rem;
            background-color: var(--background-02);
        }
    }
}


@media only screen and (min-width: 480px) {

    #lead{

    }
}


@media only screen and (min-width: 768px) {

    #lead{
        .leaf{
            grid-template-columns: repeat( 2, 47.5% );
            grid-gap: 5%;
        }

         .card{
            img{
                display: block;
            }
         }
    }
}


@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1280px) {

    #lead{
        .leaf{
            grid-template-columns: repeat( 2, 47.5% );
            grid-gap: 5%;
        }
    }
}


@media only screen and (min-width: 1536px) {

}