#team{

    .leaf{
        .team{
            grid-template-columns: repeat( auto-fill, calc( 60px - 10px ) );
            justify-content: normal;
            grid-gap: 1.5rem;
        }
        .thumb{
            overflow: hidden;
        }
    }
}


@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1280px) {


}


@media only screen and (min-width: 1536px) {

}