#test{

    margin-top: 5rem;

    #main-1{
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-between;
    }
}

.hide{
    display: none;
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}


@media only screen and (min-width: 1280px) {

    #test{
        margin-bottom: 10rem;

        #main-1{
           grid-template-columns: 320px calc( 100% - 320px - 5rem );
        }
    }
}


@media only screen and (min-width: 1536px) {

}