{{- $data := partial "lib/course/query/path-item-each-term.html" . -}}

<div id="term">
    <div class="head mb-70">
        <div class="flex center-x border-bottom">
            <div class="icon xl pb-10">
                {{ partial "icon/line/box.svg" }}
            </div>
            <h1 class="text-2xl border-left pl-15 pb-10 mb-00 mt-00">Explore Subjects</h1>
        </div>
    </div>
    <div class="leaf">
        <div class="grid boxs">
        {{- range $data -}}
            <a href="{{ .page.RelPermalink }}" class="card grid border-all rounded-md pa-15">
                <div class="top">
                    <h2 class="text-lg font-bold mb-00 mt-00">{{ .page.Title }}</h2>
                </div>
                <div class="bot flex center-x">
                    <div class="ml-a flex center-x">
                        <div class="text-md capitalize">visit</div>
                        <div class="icon sm border-all rounded-full ml-10">
                            {{ partial "icon/line/arrow-right.svg" }}
                        </div>
                    </div>
                </div>
            </a>
        {{- end -}}
        </div>
    </div>
</div>