main{
    margin-top: 3rem;

    .wrap{
        display: grid;
        grid-template-columns: 100% ;
        grid-gap: 3rem;
    }
}





@media only screen and (min-width: 480px) {
}


@media only screen and (min-width: 620px) {
}


@media only screen and (min-width: 768px) {
}


@media only screen and (min-width: 810px) {
}


@media only screen and (min-width: 920px) {
}


@media only screen and (min-width: 1024px) {

    main{
		.wrap{
            grid-template-columns: calc( 35% - 5rem ) 65% ;
            grid-gap: 5rem;
        }
	}

    #main-1{
        grid-column: 2;
        grid-row: 1;
    }

    
    #main-2{
        grid-row: 1;
        grid-column: 1;
    }

   
}


@media only screen and (min-width: 1280px) {

	main{
		margin-top: 5rem;

        .wrap {
            grid-template-columns: calc( 37% - 7rem ) 63% ;
            grid-gap: 7rem;
        }
	}   
}


@media only screen and (min-width: 1536px) {
}