.stat-card{

    display: flex;
    align-items: center;

    .sums{
        font-weight: 600;
        font-size: 1.85rem;
    }

    .text{
        font-size: .8rem;
    }

    .name{
        font-size: .8rem;
        font-weight: 400;
    }
}
@media only screen and (min-width: 480px) {

    .stat-card{

        .sums{
            font-weight: 200;
            font-size: 2.5rem;
        }

        .text{
            font-size: 1rem;
        }

        .name{
            font-size: 1rem;
        }
    }
}


@media only screen and (min-width: 768px) {

    .stat-card{

        .sums{
            
            font-size: 2.8rem;
        }

        .text{
            font-size: 1rem;
        }

        .name{
            font-size: 1rem;
        }
    }
}


@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1280px) {

    .stat-card{

        .sums{
            font-weight: 200;
            font-size: 3rem;
        }

        .text{
            font-size: .85rem;
            font-weight: 200;
        }

        .name{
            font-size: .9rem;
            font-weight: 400;
        }
    }
}


@media only screen and (min-width: 1536px) {

}