.stat-card{

    .sums{
        font-weight: 600;
        font-size: 3rem;
    }

    .text{

    }

    .name{
        font-weight: 400;
    }
}
@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1280px) {

}


@media only screen and (min-width: 1536px) {

}