<div id="lead">
    <div class="rows grid center-x">
        <h2 class="mt-00 mb-00">Exploring Course Subject From Many Diciplines</h2>
        <div class="action">
            <a href="#" class="mb-10 flex center-x  ml-a">
                <div class="text-lg">Register New Subject</div>
                <div class="action ml-20">
                    <div class="icon md border-all rounded-full">{{- partial "icon/line/arrow-right.svg" -}}</div>
                </div>
            </a>
        </div>
    </div>
</div>