#hero {

    .head{
        img{
            width: 100%;
            height: auto;
        }
    }
    .leaf{
        margin-left: 1rem;
        display: block;
    }

    .texts{
        display: block;
        align-items: self-end;
    }

    .action{
        margin: 2rem 0;
    }

    .thumb{
        position: relative;
        z-index: 2;
        background-color: var(--background-02);
        margin-top: -4rem;
        width: 42px;
    }

    p{
        font-size: 1.1rem;
    }
}



@media only screen and (min-width: 480px) {
    #hero {
        .leaf{
            margin-left: 3rem;
        }

        .thumb{
            width: 48px;
        }
    }
}

@media only screen and (min-width: 768px) {
    
    #hero {
        .texts{
            display: flex;
        }

        .action{
            margin: 0 0 0 auto;
        }
    }
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1280px) {
    
     #hero {
        margin-bottom: 4rem;
     }
}

@media only screen and (min-width: 1536px) {

}