#plan{

	.icon{
		min-width: 2rem;
		width: 2rem;
		height: 2rem;
		
	}

	.head{
		.icon{
			padding: .1rem;
			color: var(--link-02-based);
		}
	}

	.leaf {
		.grid{
			grid-template-columns: 100%;
			grid-gap: 1rem;
		}

		.desc{
			width: 100%;
		}
	}

	.repo{
		.parttabs{
			position: absolute;
			z-index: -1;
			height: 0;
			opacity: 0;
		}

		.parttabs.open{
			z-index: 1;
			height: auto;
			opacity: 1;
			position: relative;
			transition: 200ms;
		}
	}

	.task{

		.leaf{
			display: grid;
			grid-template-columns: 100%;
			grid-gap: 2.5rem 0;
		}

		.takstabs{
			position: absolute;
			z-index: -1;
			height: 0;
			opacity: 0;
		}

		.takstabs.open{
			z-index: 1;
			height: auto;
			opacity: 1;
			position: relative;
			transition: 200ms;
		}
	}
}


@media only screen and (min-width: 480px) {
    #plan{

		.leaf {
			.grid{
				grid-template-columns: repeat(2, calc( 50% - 1rem ) );
				grid-gap: 1rem;
			}
		} 

		.task{
			.leaf{
				grid-template-columns: repeat(2, calc( 50% - 1rem ) );
				grid-gap: 3rem 2rem;
			}

			.icon{
				display: block;
				height: 1.5rem;
				width: 1.5rem;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
    #plan{
		.leaf {
			.grid{
				grid-template-columns: repeat(3, calc( 33.333% - 2rem ) );
				grid-gap: 2rem;
			}
		} 

		.task{
			.leaf{
				grid-template-columns: repeat(3, calc( 33.333% - 1rem ) );
				grid-gap: 3rem 1.5rem;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
    #plan{

		.leaf {
			.grid{
				grid-template-columns: repeat(2, calc( 50% - 1rem ) );
				grid-gap: 1rem;
			}
		}

		.task{
			.leaf{
				grid-template-columns: calc( 50% - 2rem ) calc( 50% - 2rem ) ;
				grid-gap: 2.5rem 4rem;
			}

			.head .desc{
				padding-left: 0;
				border-left: 0;
			}

			.takstabs{
				z-index: 1;
				height: auto;
				opacity: 1;
				position: relative;
			}

			.icon.droptask{
				display: none;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
    #plan{
		.leaf .grid{
			grid-template-columns: repeat(2, calc( 50% - 2rem ) );
			grid-gap: 2rem;
		}

		.repo{

			.head .desc{
				padding-left: 0;
				border-left: 0;
			}

			.parttabs{
				z-index: 1;
				height: auto;
				opacity: 1;
				position: relative;
			}

			.icon.droppart{
				display: none;
			}
		}
	}
}

@media only screen and (min-width: 1536px) {

}