#stat{

    .leaf{
		grid-template-columns: repeat(2, 50% );
	}

    .info{
        grid-template-columns: repeat( 2, calc( 50% - 2rem ) );
	    grid-gap: 2rem;
    }
}


@media only screen and (min-width: 480px) {
    #stat{
        .info{
            grid-template-columns: repeat( 4, calc( 25% - 1rem ) );
	        grid-gap: 1rem;
        }
    }
}

@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 1024px) {
    
    #stat{

        .info{
            grid-template-columns: repeat( 2, calc( 50% - 2rem ) );
	        grid-gap: 2rem;
        }
    }
}

@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1536px) {

}