#paid{
    h2{ line-height: 1; }

    .share .icon svg {
        margin-right: 0;
        height: 18px;
        width: 18px;
    }

    .button{
        padding: 5px 18px;
    }

    .share .button{
        padding: 5px;
    }
}



@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1536px) {

}