#plan .part{

    .parttabs{
		position: absolute;
		z-index: -1;
		height: 0;
		opacity: 0;
	}

	.parttabs.open{
		z-index: 1;
		height: auto;
		opacity: 1;
		position: relative;
		transition: 200ms;
	}
}

@media only screen and (min-width: 1024px) {
    #plan .part{

        .head .desc{
            padding-left: 0;
            border-left: 0;
        }

        .parttabs{
			z-index: 1;
			height: auto;
			opacity: 1;
			position: relative;
		}

        .icon.droppart{
            display: none;
        }
    }
}


@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1536px) {

}