#take{

    .inform{
        grid-template-columns: repeat( 2, calc( 50% - 2rem ) );
	    grid-gap: 2rem;
    }

    .capsul{
        .flex{
            width: 100%;
        }
    }
}


@media only screen and (min-width: 480px) {
    #take{
        .inform{
            grid-template-columns: repeat( 4, calc( 25% - 1rem ) );
	        grid-gap: 1rem;
        }
    }
}

@media only screen and (min-width: 768px) {

    #take{
        .leaf {
            display: flex;
        }

        .capsul{
            width: 250px;
        }

        .inform{
            width: calc(100% - 250px - 2rem);
            margin-left: 2rem;
            margin-top: -1rem;
        }
    }
}

@media only screen and (min-width: 1024px) {
    
    #take{

        .leaf{
            display: block;
        }

        .inform, .capsul{
            width: 100%;
        }
       
        .inform{
            grid-template-columns: repeat( 2, calc( 50% - 2rem ) );
	        grid-gap: 2rem;
            margin-left: unset;
            margin-top: unset;
        }
    }
}

@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1536px) {

}