main{
    margin-top: 3rem;
}


#taxo #rows{
    display: flex;
    flex-wrap: wrap;
}


#taxo #div1{
    width: 100%;
}


#taxo #div2{
    width: 100%;

    #team, #bugs{
        display: none;
    }
}


#taxo #list{

    margin-bottom: 2rem;

    .list{
        display: grid;
        grid-template-columns: repeat(1, calc( 100% - 2.5rem ));
        grid-gap: 2.5rem;
    }

    article{
        margin-left: 10%;
        position: relative;
    }

    .thumb{
        position: absolute;
        width: 42px;
        height: 42px;
        margin-left: -21px;
        margin-top: -21px;
        overflow: hidden;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .render{
        overflow: hidden;
    }

    .pagination{
        margin-top: 2rem;
    }
}


@media only screen and (min-width: 480px) {
}


@media only screen and (min-width: 768px) {
    #taxo #list{
        .list{
            grid-template-columns: repeat(2, calc( 50% - 2rem ));
            grid-gap: 2rem;
        }
    }
}


@media only screen and (min-width: 1024px) {

    #taxo #list{
        .list{
            grid-template-columns: repeat(3, calc( 33.333% - 2rem ));
            grid-gap: 2rem;
        }
    }

}


@media only screen and (min-width: 1280px) {

    main{
        margin-top: 5rem;
    }

 
    #taxo #list{
        .list{
            grid-template-columns: repeat(2, calc( 50% - 4rem ));
            grid-gap: 4rem;
        }
    }
}


@media only screen and (min-width: 1536px) { 
}