{{- $card := "course/module/base/main/part/vert-card.html" -}}

<div id="{{ .name | urlize }}" class="lori">
    <div class="head">
        <div class="flex center-x border-bottom mb-40">
            <div class="icon lg pb-10">
                {{ partial "icon/line/box.svg" }}
            </div>
            <h1 class="text-xl uppercase border-left pl-15 pb-10 mb-00 mt-00">{{ .name }}</h1>
        </div>
        <div class="desc">
            {{ .page.Params.description }}
        </div>
    </div>
    <div class="leaf">
        {{- range first 6 .list -}}{{- partial $card . -}}{{- end -}}
    </div>
</div>