{{- $path := "course/module/base/main/part" -}}
{{- $ctx  := . -}}{{- $site := $ -}}

<div id="team" class="widget mb-60">
    <div class="head mb-00">
    {{- with .Page.Params.Parted.Team.lead -}}
        <h2 class="text-md uppercase font-bold mt-00 mb-10">{{- . -}}</h2><hr class="mb-10">
    {{- end -}}
    {{- with .Page.Params.Parted.Team.desc -}}
        <p class="text-sm mt-00">{{- . -}}</p>
    {{- end -}}
    </div>
    <div class="leaf grid">
    {{- range .Page.Params.Parted.Team.list -}}
        <div class="flex center-x">
            <div class="icon lg">
                {{- partial ( printf "%s/thumb-team.html" $path ) (dict  "ctx" $ctx "site" $site "name" .name )  -}}
            </div>
            <div class="name ml-15">
                <h3 class="capitalize text-md font-bold mb-00">{{ .name }}</h3>
                <p class="mt-00 text-gray-400">{{ .post }}</p>
            </div>
        </div>
    {{- end -}}
    </div>
</div>