{{- $list := partial  "course/module/base/main/data/query-term-page.html" . -}}

<div id="term" class="mid mb-40">
    <div class="info mb-40">
        <div class="head flex mb-10">
            <h2 class="text-md uppercase font-bold mt-00 mb-00">{{ T "explore_long" }}</h2>
            <a href="/{{ .Section }}/terms/" class="flex center-x ml-a">
                <div class="capitalize font-bold text-sm">{{ T "allcat" }}</div>
                <div class="icon md ml-10">{{- partial "icon/line/arrow-right.svg" -}}</div>
            </a>
        </div><hr class="mb-10">
        {{- with .Page.Params.Parted.Taxo.desc -}}
            <p class="mt-00">{{ . }}</p>
        {{- end -}}
    </div>
    <ul class="leaf mb-40">
        {{- range first 8 $list -}}
        <li class=""><a href="{{ .RelPermalink }}">
            <div class="card border-all rounded-lg flex center-x">
                {{- $image := .Page.Resources.GetMatch .Page.Params.Module.Cover -}}
                {{- $thumb := $image.Fill "42x42 webp q100" -}}
                {{- with $thumb -}}
                    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="category-image rounded-full" loading="lazy" alt="{{ .Title }}course category">
                {{- end -}}
                <div class="ml-10 font-bold">{{- .Title -}}</div>
            </div>
        </a></li>
        {{- end -}}
    </ul>
</div>