{{- $card := "course/module/base/main/part/hori-card.html" -}}
{{- $path := "course/module/base/main/part/path-link.html" -}}

<div id="{{ .name | urlize }}" class="vert">
     <div class="head mb-60">
        <div class="flex center-x border-bottom">
            <div class="icon lg pb-10">
                {{ partial "icon/line/box.svg" }}
            </div>
            <h1 class="text-lg uppercase font-normal border-left pl-15 pb-10 mb-00 mt-00">{{ .name }}</h1>
            {{- partial $path . -}}
        </div>
    </div>
    <div class="leaf">
        <div class="desc mb-60">
            {{ .page.Params.description }}
        </div>
        <div class="list">
            {{- range first 4 .list -}}{{- partial $card . -}}{{- end -}}
        </div>
    </div>
</div>