{{- $card := "course/module/base/main/part/hori-card.html" -}}
{{- $path := "course/module/base/main/part/path-page.html" -}}

<div id="{{ .name | urlize }}" class="vert grid">
    <div class="head mb-60">
        <div class="flex center-x border-bottom mb-60">
            <div class="icon md">{{ partial "lib/icon" "box" }}</div>
            <h2 class="text-sm uppercase font-bold border-left pl-15 pb-10 mb-00">{{ .name }}</h2>
            {{- partial $path . -}}
        </div>
        <div class="desc">{{- .page.Params.description -}}</div>
    </div>
    <div class="leaf">
        {{- range first 4 .list -}}{{- partial $card . -}}{{- end -}}
    </div>
</div>