{{- $youtube := .Parent.Page.Params.Module.Canals.Youtube -}}
{{- with .Page.Params.Module.Canals.Youtube -}}
    {{ $youtube =  . }}
{{- end -}}

{{- $spotify := .Parent.Page.Params.Module.Canals.Spotify -}}
{{- with .Page.Params.Module.Canals.Spotify -}}
    {{ $spotify =  . }}
{{- end -}}


{{- if or ( $youtube ) ( $spotify ) -}}
<div class="apps">
    <div class="flex center-x">
        {{- with $youtube -}}
        <a class="youtube flex center-x" href="{{ . }}" target="_blank" aria-label="Access this module at youtube">
            <div class="icon xl">{{- partial "icon/logo/youtube-round.svg" -}}</div>
            <div class="text">
                <div class="text-sm">Watch on</div>
                <div class="capitalize font-bold text-md">Youtube</div>
            </div>
        </a>
        {{- end -}}
        {{- with $spotify -}}
        <a class="spotify flex center-x" href="{{ . }}" target="_blank" aria-label="Access this module at spotify">
            <div class="icon xl">{{- partial "icon/logo/spotify-round.svg" -}}</div>
            <div class="text">
                <div class="text-sm">Listen at</div>
                <div class="capitalize font-bold text-md">Spotify</div>
            </div>
        </a>
        {{- end -}}
    </div>
</div>
{{- end -}}