{{- $path := "course/module/page/main/view/page" -}}
{{- $plan := printf "%s/plan.html" $path -}}
{{- $talk := printf "%s/talk.html" $path -}}
{{- $page := printf "%s/page.html" $path -}}
{{- $talk := printf "%s/talk.html" $path -}}
{{- $bugs := printf "%s/bugs.html" $path -}}
{{- $task := printf "%s/task.html" $path -}}
{{- $navs := printf "%s/navs.html" $path -}}

<div id="main">
    <div class="actions">
        <div class="flex center-x">
            <div data-target="main-tabs" class="page tab-action flex center-x border-all rounded-md open">
                <div class="icon lg border-right">{{ partial "icon/line/book.svg" }}</div>
                <div class="capitalize text-sm mr-10">Course</div>
            </div>
            <div data-target="talk-tabs" class="talk tab-action flex center-x border-all rounded-md">
                <div class="icon lg border-right">{{ partial "icon/line/message-circle.svg" }}</div>
                <div class="capitalize text-sm mr-10">Forum</div>
            </div>
            <div data-target="bugs-tabs" class="bugs tab-action flex center-x ml-a">
                <div class="icon sm rounded-lg">{{ partial "icon/line/flag.svg" }}</div>
                <div class="capitalize text-sm font-bold">Report</div>
            </div>
        </div>
    </div>
    <div class="content">
        <div id="main-tabs" class="tabs-item open">{{- partial $page . -}}</div>
        <div id="talk-tabs" class="tabs-item">{{- partial $talk . -}}</div>
        <div id="bugs-tabs" class="tabs-item">{{- partial $bugs . -}}</div>
    </div>
    
    {{- partial $navs . -}}
</div>

