{{- $team := printf "module/course/page/main/view/page/team.html" -}}
{{- $apps := printf "module/course/page/main/view/page/apps.html" -}}
{{- $asig := printf "module/course/page/main/view/page/asig.html" -}}
{{- $type := partial "module/course/page/main/data/take-fomat.html" . -}}


<article id="page">
    {{- if eq $type "decending" -}}
        <div class="main">{{- partial "lib/format.html" . -}}</div>
        <div class="meta">
            {{- partial $team . -}}{{- partial $apps . -}}
        </div>
        <div class="head">
            <h1 class="text-4xl mb-30">{{ .Title }}</h1>
            <p class="text-md">{{- partial "module/course/page/main/data/take-leader.html" . -}}</p>
        </div>
    {{- else -}}
        <div class="head">
            <h1 class="text-4xl mb-30">{{ .Title }}</h1>
            {{- partial "module/course/page/main/part/hero-thumb.html" . -}}
        </div>
        <div class="meta">{{- partial $team . -}}{{- partial $apps . -}}</div>
        <div class="main">{{- partial "lib/format.html" . -}}</div>
    {{- end -}}
</article>
{{- partial $asig . -}}
