{{- $team := printf "course/module/page/main/view/page/team.html" -}}
{{- $apps := printf "course/module/page/main/view/page/apps.html" -}}
{{- $asig := printf "course/module/page/main/view/page/asig.html" -}}
{{- $type := partial "course/module/page/main/data/take-fomat.html" . -}}



    {{- if eq $type "decending" -}}
        <div class="main">{{- partial "lib/format.html" . -}}</div>
        <div class="meta">
            {{- partial $team . -}}{{- partial $apps . -}}
        </div>
        <div class="head">
            <h1>{{ .Title }}</h1>
            <p class="text-md">{{- partial "course/module/page/main/data/take-leader.html" . -}}</p>
        </div>
    {{- else -}}
        {{- partial "lib/format.html" . -}}
    {{- end -}}

{{- partial $asig . -}}
