#hero {
    
    .taxpic{
        width: 36px;
        height: 36px;
        padding: 8px;
        padding-right: 0;
        padding-top: 0;
    }
}


@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {
    
}


@media only screen and (min-width: 1024px) {
    
    .grid{
        grid-template-columns: calc( 100% - 420px - 2rem ) 420px;
        grid-gap: 2rem;
    }
}

@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1536px) {

}