@media only screen and (min-width: 480px) {
}


@media only screen and (min-width: 768px) {
}


@media only screen and (min-width: 1024px) {
    
    #rows{
        grid-template-columns: calc( 340px - 5rem ) calc( 100% - 360px);
        grid-gap: 5rem;
    }

    #div1{
        grid-column: 2;
        grid-row: 1;
    }
    
    #div2{
        grid-row: 1;
        grid-column: 1;
    }
}


@media only screen and (min-width: 1280px) {
}


@media only screen and (min-width: 1536px) {
}